workflows/ai-blog-writing-pipeline.json
{"updatedAt":"2026-03-20T16:50:36.263Z","createdAt":"2025-11-25T19:43:28.618Z","id":"Xab2L5SACoVrTZeu","name":"Blog Writing","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appBczrjPbf44dyAo","mode":"id"},"tableId":{"__rl":true,"value":"tbl0a0WMzpCXnQfge","mode":"id"},"triggerField":"Time Created","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[0,0],"id":"3ca66acf-cce7-459f-8a22-07a068bd2135","name":"Airtable Trigger","credentials":{"airtableTokenApi":{"id":"O0SZf3N6HovdOddt","name":"Airtable Personal Access Token account"}}},{"parameters":{"url":"https://serpapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"3cdf8c4245ad87ffc09c6e27394b39cde527f1eb446b2bee202dba79b5218ade"},{"name":"q","value":"={{ $json.fields['Research Topic'] }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"877dc276-afa5-4332-a413-ae1d7f7f3c65","name":"HTTP Request"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Get topic from the \"Set Topic\" node\n  const topic = $item(0).$('Airtable Trigger').first().json.fields.Topic;\n\n  // SerpAPI organic results\n  const organic = item.json.organic_results || [];\n\n  // Take first 5 results for brevity\n  const selected = organic.slice(0, 5);\n\n  const notes = selected.map((r, i) => {\n    const title = r.title || \"\";\n    const snippet = r.snippet || \"\";\n    const link = r.link || \"\";\n    return `${i + 1}. ${title}\\n${snippet}\\n(Source: ${link})`;\n  });\n\n  const researchSummary = `Topic: ${topic}\\n\\nKey findings from web research (SerpAPI):\\n\\n${notes.join(\"\\n\\n\")}`;\n\n  return {\n    json: {\n      topic,\n      researchSummary,\n      organic_results: organic\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"ddb0a591-f0a0-403f-aa9a-adcc9cdb0175","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"responses":{"values":[{"role":"system","content":"=You are a professional blog writer.\n\n- You write clear, engaging blog posts.\n- Style: friendly expert, simple and non-technical where possible.\n- Use H2/H3 headings, intro, body, and conclusion."},{"content":"={{ $('Airtable Trigger').item.json.fields['Research Topic'] }}\n\n {{ $('Airtable Trigger').item.json.fields['Target Audience'] }}\n\n {{ $json.researchSummary }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[624,192],"id":"f9603a18-2e0c-47d4-8c6f-90e0dcf5cec9","name":"Message a model","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Please edit this article and take out every hashtags and astericks {{ $json.output[0].content[0].text }}","options":{"systemMessage":"You are an expert editor.\n\nTasks:\n1. Fix grammar, punctuation, and clarity.\n2. Keep meaning and structure.\n3. Ensure tone is friendly expert.\n4. Do not add explanations, only return the edited article.\n5. Remove all pause dashes like this '—' in the article.\n6. Remove all emojis\n7. Make it more humanly.\n8. Take out all the hashtags and astericks"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[976,192],"id":"c89d73ed-9626-4c50-a9bd-4fbc2ebb14d5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[896,368],"id":"f00d777b-2d7f-4208-8357-47735fc6e625","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"sendTo":"gbounmishaw@gmail.com","subject":"What Is the Best AI Agent to Build Right Now? ","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1424,288],"id":"406c6371-2fab-4705-b274-a349084c2266","name":"Send a message","webhookId":"03973ac0-d762-49e2-8904-23099b83019d","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"driveId":"=myDrive","folderId":"=1FnZuwsP7wDqU96EUZseaoVwv5KOUeHDp","title":"blog"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1344,-48],"id":"91e0a896-bea8-49b5-a67a-8189514057f5","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('AI Agent').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1552,-48],"id":"039c8b16-2b62-44b5-ab5a-ee3d06d72d84","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}}],"connections":{"Airtable Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Create a document","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"gxfiw0n0Ov6Xvmg4","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9451a454-14c7-480d-a89f-550b48fea7e9","activeVersionId":null,"versionCounter":15,"triggerCount":0,"shared":[{"updatedAt":"2025-11-25T19:43:28.623Z","createdAt":"2025-11-25T19:43:28.623Z","role":"workflow:owner","workflowId":"Xab2L5SACoVrTZeu","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":null}