workflows/ai-task-prioritizer-asana.json
{"updatedAt":"2026-03-20T16:50:14.946Z","createdAt":"2026-01-23T04:43:18.864Z","id":"GPjmJ5Ad2NGhp7GD","name":"AI Task Prioritizer for Asana","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"1213400262113337","workspace":"1213400262113335"},"id":"trigger-asana","name":"Asana Trigger","type":"n8n-nodes-base.asanaTrigger","typeVersion":1,"position":[240,304],"webhookId":"6236f9f2-3c29-404a-87c4-0bea13ecd06c","credentials":{"asanaOAuth2Api":{"id":"hPTBqZsx2JVHWn9O","name":"Asana account"}},"notes":"Triggers when tasks are created or updated in Asana"},{"parameters":{"authentication":"oAuth2","operation":"search","workspace":"={{ $node['Asana Trigger'].json.resource.workspace.gid }}","searchTaskProperties":{}},"id":"get-all-tasks","name":"Get All Project Tasks","type":"n8n-nodes-base.asana","typeVersion":1,"position":[464,304],"credentials":{"asanaOAuth2Api":{"id":"hPTBqZsx2JVHWn9O","name":"Asana account"}},"notes":"Fetches all tasks from the project to analyze context"},{"parameters":{"jsCode":"const tasks = $input.all();\nconst now = new Date();\n\n// Calculate workload per assignee\nconst workloadMap = {};\ntasks.forEach(task => {\n  if (task.json.assignee) {\n    const assigneeId = task.json.assignee.gid;\n    const assigneeName = task.json.assignee.name || 'Unnamed';\n    if (!workloadMap[assigneeId]) {\n      workloadMap[assigneeId] = { name: assigneeName, count: 0, tasks: [] };\n    }\n    workloadMap[assigneeId].count++;\n    workloadMap[assigneeId].tasks.push(task.json.name);\n  }\n});\n\n// Format tasks for AI analysis\nconst formattedTasks = tasks.map(task => {\n  const dueDate = task.json.due_on || task.json.due_at;\n  let daysUntilDue = null;\n  \n  if (dueDate) {\n    const due = new Date(dueDate);\n    daysUntilDue = Math.ceil((due - now) / (1000 * 60 * 60 * 24));\n  }\n  \n  const assigneeId = task.json.assignee?.gid;\n  const assigneeWorkload = assigneeId ? workloadMap[assigneeId].count : 0;\n  \n  return {\n    task_id: task.json.gid,\n    task_name: task.json.name,\n    description: task.json.notes || '',\n    due_date: dueDate,\n    days_until_due: daysUntilDue,\n    assignee: task.json.assignee?.name || 'Unassigned',\n    assignee_workload: assigneeWorkload,\n    num_dependencies: (task.json.dependencies || []).length,\n    num_dependents: (task.json.dependents || []).length,\n    num_subtasks: task.json.num_subtasks || 0,\n    tags: (task.json.tags || []).map(t => t.name).join(', '),\n    created_at: task.json.created_at\n  };\n});\n\n// Create context summary\nconst contextSummary = {\n  total_tasks: tasks.length,\n  team_workload: Object.values(workloadMap).map(w => ({\n    name: w.name,\n    active_tasks: w.count\n  })),\n  tasks: formattedTasks\n};\n\nreturn [{ json: contextSummary }];"},"id":"prepare-context","name":"Prepare Task Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304],"notes":"Prepares task data and calculates team workload metrics"},{"parameters":{"promptType":"define","text":"=Analyze the following tasks and assign priority scores (1-100) and priority levels (Critical/High/Medium/Low) based on deadlines, dependencies, and team workload.\n\nContext:\nTotal Tasks: {{ $json.total_tasks }}\n\nTeam Workload:\n{{ $json.team_workload.map(w => `- ${w.name}: ${w.active_tasks} active tasks`).join('\\n') }}\n\nTasks to prioritize:\n{{ $json.tasks.map((t, i) => `\n${i+1}. ${t.task_name}\n   - ID: ${t.task_id}\n   - Due: ${t.days_until_due !== null ? (t.days_until_due >= 0 ? `in ${t.days_until_due} days` : `OVERDUE by ${Math.abs(t.days_until_due)} days`) : 'No due date'}\n   - Assignee: ${t.assignee} (${t.assignee_workload} tasks)\n   - Dependencies: ${t.num_dependencies} blocking, ${t.num_dependents} blocked by\n   - Subtasks: ${t.num_subtasks}\n   - Tags: ${t.tags || 'None'}`).join('\\n') }}\n\nAnalyze each task and provide priority scores with reasoning.","hasOutputParser":true,"options":{"systemMessage":"You are an expert project manager assistant. Analyze the provided tasks and assign priority scores (1-100) based on:\n\n1. DEADLINE URGENCY (40% weight):\n   - Overdue tasks: 90-100 priority\n   - Due within 24 hours: 80-89\n   - Due within 3 days: 70-79\n   - Due within 1 week: 60-69\n   - Due within 2 weeks: 50-59\n   - Beyond 2 weeks: 30-49\n   - No due date: 40\n\n2. DEPENDENCIES (30% weight):\n   - Blocking other tasks (dependents): +20 priority boost\n   - Has many incomplete subtasks: +10 boost\n   - Blocked by other tasks (dependencies): -15 penalty\n   - No dependencies: neutral\n\n3. TEAM WORKLOAD (30% weight):\n   - Assignee has >10 active tasks: -15 priority\n   - Assignee has 5-10 tasks: -5 priority\n   - Assignee has <5 tasks: +10 priority\n   - Unassigned: +5 priority (needs attention)\n\nProvide detailed reasoning for each task's priority score and classify as Critical (80-100), High (60-79), Medium (40-59), or Low (0-39)."}},"id":"ai-agent","name":"AI Task Prioritizer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[960,304],"notes":"AI Agent powered by GPT-4 to prioritize tasks"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"id":"openai-model","name":"OpenAI GPT-4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[912,480],"credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}},"notes":"GPT-4 language model"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"prioritized_tasks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"task_id\": {\"type\": \"string\"},\n          \"task_name\": {\"type\": \"string\"},\n          \"priority_score\": {\"type\": \"number\"},\n          \"priority_level\": {\"type\": \"string\"},\n          \"reasoning\": {\"type\": \"string\"}\n        },\n        \"required\": [\"task_id\", \"task_name\", \"priority_score\", \"priority_level\", \"reasoning\"]\n      }\n    }\n  },\n  \"required\": [\"prioritized_tasks\"]\n}","autoFix":true},"id":"output-parser","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[992,592],"notes":"Enforces consistent JSON output format"},{"parameters":{"jsCode":"const prioritizedTasks = $input.first().json.prioritized_tasks;\nreturn prioritizedTasks.map(task => ({ json: task }));"},"id":"extract-tasks","name":"Extract Prioritized Tasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,384],"notes":"Converts array to individual items for looping"},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $json.task_id }}","otherProperties":{}},"id":"update-task","name":"Update Task Priority","type":"n8n-nodes-base.asana","typeVersion":1,"position":[1344,304],"credentials":{"asanaOAuth2Api":{"id":"hPTBqZsx2JVHWn9O","name":"Asana account"}},"notes":"Updates task with priority information in notes field"},{"parameters":{"authentication":"oAuth2","resource":"taskTag","id":"={{ $json.task_id }}","tag":"=Priority: {{ $json.priority_level }}"},"id":"add-priority-tag","name":"Add Priority Tag","type":"n8n-nodes-base.asana","typeVersion":1,"position":[1568,304],"credentials":{"asanaOAuth2Api":{"id":"hPTBqZsx2JVHWn9O","name":"Asana account"}},"notes":"Adds priority level as a tag"}],"connections":{"Asana Trigger":{"main":[[{"node":"Get All Project Tasks","type":"main","index":0}]]},"Get All Project Tasks":{"main":[[{"node":"Prepare Task Context","type":"main","index":0}]]},"Prepare Task Context":{"main":[[{"node":"AI Task Prioritizer","type":"main","index":0}]]},"AI Task Prioritizer":{"main":[[{"node":"Extract Prioritized Tasks","type":"main","index":0}]]},"OpenAI GPT-4":{"ai_languageModel":[[{"node":"AI Task Prioritizer","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Task Prioritizer","type":"ai_outputParser","index":0}]]},"Extract Prioritized Tasks":{"main":[[{"node":"Update Task Priority","type":"main","index":0}]]},"Update Task Priority":{"main":[[{"node":"Add Priority Tag","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"gxfiw0n0Ov6Xvmg4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c192261d-dde4-4e81-84eb-449636df763e","activeVersionId":null,"versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-01-23T04:43:18.866Z","createdAt":"2026-01-23T04:43:18.866Z","role":"workflow:owner","workflowId":"GPjmJ5Ad2NGhp7GD","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":null}