workflows/banko-chow-whatsapp-order-management.json
{"updatedAt":"2026-04-03T00:33:44.372Z","createdAt":"2026-03-24T20:30:41.234Z","id":"yUmnnuX5JoSmDp1W","name":"Banko Chow - WhatsApp Order Management","description":null,"active":false,"isArchived":false,"nodes":[{"id":"02c752d0-6609-488c-8b85-8bf96a950b7f","name":"WA Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,560],"webhookId":"9b9b7fe6-f175-45b4-950a-9c4c4a1f30d8","parameters":{"httpMethod":"POST","path":"banko-chow-whatsapp","responseMode":"onReceived","responseData":"","options":{}}},{"id":"9b321014-4db0-40a2-8820-dd585e5433fa","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,560],"parameters":{"mode":"runOnceForAllItems","jsCode":"// maxConcurrency:1 ensures executions are sequential — static data writes are always visible\nconst body  = $input.first().json.body || {};\nconst msgId = body.idMessage || '';\nif (!msgId) return [$input.first()]; // no ID — pass through\n\nconst sd   = $getWorkflowStaticData('global');\nconst seen = sd.seenIds || {};\nconst now  = Date.now();\n\n// Evict entries older than 2 minutes\nfor (const k in seen) { if (now - seen[k] > 120000) delete seen[k]; }\n\nif (seen[msgId]) return []; // duplicate — drop silently\n\nseen[msgId] = now;\nsd.seenIds  = seen;\nreturn [$input.first()];"}},{"id":"3e08be32-aa3e-4873-ac34-f1ef6ddfebbc","name":"Filter: Valid Text Message","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,560],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"7585e25d-2e23-4428-b252-4e34ea26cea8","leftValue":"={{ $json.body.typeWebhook }}","rightValue":"incomingMessageReceived","operator":{"type":"string","operation":"equals"}},{"id":"2ae1db47-bfb9-4a2e-b3d2-a5dd3259b455","leftValue":"={{ $json.body.senderData.chatId }}","rightValue":"@g.us","operator":{"type":"string","operation":"notEndsWith"}}],"combinator":"and"}}},{"id":"a226872e-471a-43b9-b9f5-ce04b292b683","name":"Prepare Agent Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,560],"parameters":{"mode":"runOnceForAllItems","jsCode":"const body = $input.first().json.body;\nconst chatId     = body.senderData?.chatId || '';\nconst senderName = body.senderData?.senderName || chatId;\n\n// ── Extract text from all message types ──\nconst msgData = body.messageData || {};\nconst typeMsg  = msgData.typeMessage || '';\nlet msgText = '';\nif (typeMsg === 'textMessage') {\n  msgText = msgData.textMessageData?.textMessage || '';\n} else if (typeMsg === 'extendedTextMessage') {\n  msgText = msgData.extendedTextMessageData?.text || '';\n} else if (typeMsg === 'quotedMessage') {\n  msgText = msgData.extendedTextMessageData?.text || msgData.quotedMessage?.textMessage || '';\n}\n\n// Skip if no readable text\nif (!msgText.trim()) return [];\n\nconst CONTEXT = \"You are the WhatsApp order assistant for BANKO CHOW, a Lagos street burger restaurant.\\n\\n\" +\n\"BANKO CHOW MENU:\\n\" +\n\"STREET BURGERS\\n\" +\n\"- MAINLAND (Agege Bread, Ram Suya, Lettuce, Tomatoes, Banko Special Sauce) - N4,000\\n\" +\n\"- ISLAND (Agege Bread, Shredded Chicken, Lettuce, Tomatoes, Banko Special Sauce) - N4,500\\n\" +\n\"- LINKBRIDGE (Agege Bread, Ram Suya + Shredded Chicken, Lettuce, Tomatoes, Banko Special Sauce) - N5,000\\n\\n\" +\n\"CHOP LIFE MINI BURGER\\n\" +\n\"- Box of 10 - N23,000\\n\" +\n\"- Box of 20 - N40,000\\n\\n\" +\n\"DRINKS: ZOBO - N1,500\\n\\n\" +\n\"EXTRAS: Sausage N1,000 | Cheese N1,000 | Banko Special Sauce N5,000\\n\\n\" +\n\"RULES:\\n\" +\n\"1. NEVER use the customer's name in any reply. Say 'Hi' or 'Hello' only — no names ever.\\n\" +\n\"2. Always share the full menu when greeting a new customer or when they ask. Do not repeat it in every single reply, but always show it at the start of a conversation.\\n\" +\n\"3. DELIVERY FEE: If the customer says they want delivery, add a flat fee of N3,000 to the total. If they say pickup or do not mention delivery, no delivery fee.\\n\" +\n\"4. To place an order - collect items, name, phone, delivery address (or pickup), delivery time.\\n\" +\n\"5. Show order summary with total (including delivery fee if applicable), then share payment: GTBank | Banko Chow Ltd | 0123456789. Ask for proof of payment.\\n\" +\n\"6. Once the customer indicates payment in ANY way — sending a screenshot, saying 'done', 'sent', 'transferred', 'I paid', 'check it', 'I have paid', or anything that suggests they made the transfer — treat it as payment confirmed and end your reply with the ORDER_CONFIRMED marker. Use your judgement. Do NOT confirm before there is any indication of payment.\\n\" +\n\"7. Be warm, use emojis. Delivery takes 45-60 mins.\\n\\n\" +\n\"After customer confirms payment, end your reply with exactly:\\n\" +\n'ORDER_CONFIRMED: {\"orderId\":\"BCH-YYYYMMDD-XXXX\",\"customerName\":\"ACTUAL_NAME\",\"phone\":\"ACTUAL_PHONE\",\"items\":\"ACTUAL_ITEMS\",\"total\":NUMERIC_TOTAL,\"deliveryFee\":3000_OR_0,\"wantsDelivery\":true_OR_false,\"address\":\"ACTUAL_ADDRESS\",\"deliveryTime\":\"ACTUAL_TIME\",\"paymentMethod\":\"Bank Transfer\",\"status\":\"Pending Verification\"}' +\n'\\nIMPORTANT: wantsDelivery must be true if customer gave a delivery address, false if pickup. deliveryFee must be 3000 for delivery, 0 for pickup. total must be a number, not a string.';\n\nreturn [{ json: {\n  chatId, senderName, msgText,\n  fullMessage: CONTEXT + \"\\n\\n---\\nCustomer (\" + senderName + \") says: \" + msgText\n}}];"}},{"id":"62573826-577b-4763-9c41-cff48482e94c","name":"Order Management Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1160,560],"parameters":{"agentType":"toolsAgent","text":"={{ $json.fullMessage }}","promptType":"define","systemMessage":"You are the WhatsApp Order Management Assistant for Banko Chow — a premium street burger restaurant in Lagos, Nigeria.\n\n## YOUR ROLE\nHelp customers place orders via WhatsApp. Be warm, professional, and efficient.\n\n## BANKO CHOW MENU\n\n### STREET BURGERS\n- MAINLAND: Agege Bread, Ram Suya, Lettuce, Tomatoes, Banko Special Sauce — ₦4,000\n- ISLAND: Agege Bread, Shredded Chicken, Lettuce, Tomatoes, Banko Special Sauce — ₦4,500\n- LINKBRIDGE: Agege Bread, Ram Suya, Shredded Chicken, Lettuce, Tomatoes, Banko Special Sauce — ₦5,000\n\n### CHOP LIFE MINI BURGER\n- Box of 10 — ₦23,000\n- Box of 20 — ₦40,000\n\n### DRINKS\n- ZOBO — ₦1,500\n\n### EXTRAS\n- Sausage — ₦1,000\n- Cheese — ₦1,000\n- Banko Special Sauce — ₦5,000\n\n---\n\n## HANDLING MENU REQUESTS\nWhenever a customer asks for the menu, asks what you sell, or asks what is available — IMMEDIATELY share the FULL menu listed above. Do NOT ask for clarification. Do NOT say you cannot access it. Just share it directly.\n\n## ORDER FLOW — FOLLOW THIS EXACTLY, STEP BY STEP\n\n1. Greet new customers, share the full menu above\n2. Take their order — confirm items, quantities, total\n3. Collect: name, phone number, delivery address, preferred delivery time\n4. Present a full order summary with the total amount\n5. MANDATORY — You MUST send the payment details below word-for-word in every order. Never skip this:\n\n💳 *PAYMENT DETAILS*\n🏦 Bank: GTBank\n👤 Account Name: Banko Chow Ltd\n🔢 Account Number: 0123456789\n\nPlease transfer ₦[INSERT TOTAL HERE] to the account above and reply with your proof of payment to confirm your order. 🙏\n\n6. After sharing payment details, wait for the customer's next message.\n7. As soon as the customer sends ANY message that could indicate payment — this includes but is not limited to:\n   - Saying \"done\", \"sent\", \"paid\", \"transferred\", \"I've paid\", \"check it\", \"I just sent it\"\n   - Sending a screenshot or image (any image after payment details = proof of payment)\n   - Saying \"I have made the payment\", \"money don go\", \"transfer done\", \"it's been sent\", or any pidgin/informal equivalent\n   - Asking \"have you received it?\" or \"did you get the alert?\" (implies they already sent)\n   - ANY message that comes after you shared the payment details that is not asking a question about the order itself\n   USE YOUR JUDGEMENT — err on the side of treating it as payment. It is better to confirm and let the owner verify than to keep asking the customer for more proof.\n   NEVER say \"please send proof of payment\" more than once. If you already said it and they reply with anything at all, treat it as confirmation.\n8. Once you decide payment is confirmed, emit ORDER_CONFIRMED immediately.\n\n## WHEN ORDER IS CONFIRMED (after payment confirmed)\nEnd your reply with this exact marker on a new line — fill in ALL fields accurately from the conversation:\nORDER_CONFIRMED: {\"orderId\":\"BCH-YYYYMMDD-XXXX\",\"customerName\":\"ACTUAL NAME\",\"phone\":\"ACTUAL PHONE\",\"items\":\"ACTUAL ITEMS e.g. 1x MAINLAND Burger\",\"total\":TOTAL_NUMBER,\"deliveryFee\":DELIVERY_FEE_NUMBER,\"wantsDelivery\":DELIVERY_BOOLEAN,\"address\":\"ACTUAL ADDRESS\",\"deliveryTime\":\"ACTUAL TIME\",\"paymentMethod\":\"Bank Transfer\",\"status\":\"Pending Verification\"}\n\nField rules — get these right every time:\n- orderId: generate a real unique ID in format BCH-YYYYMMDD-XXXX (e.g. BCH-20260402-3847)\n- customerName: the customer's actual name from the conversation (never use \"...\")\n- phone: customer's actual phone number\n- items: list all ordered items and quantities (e.g. \"1x ISLAND Burger, 2x Zobo\")\n- total: the final NUMERIC total INCLUDING delivery fee if applicable (e.g. 10500, not \"N10,500\")\n- deliveryFee: 3000 if customer wants delivery, 0 if pickup\n- wantsDelivery: true if customer gave a delivery address, false if pickup\n- address: full delivery address or \"Pickup\" if collecting\n- deliveryTime: customer's preferred time\n\n## STYLE\n- Warm, WhatsApp-friendly, emojis 🍔\n- Use ₦ for Naira\n- Estimated delivery: 45–60 minutes\n## IMPORTANT\n- All menu items above are in stock unless you are explicitly told otherwise.\n- Never say you cannot access the menu — the full menu is listed above and you know it.","options":{"returnIntermediateSteps":false,"maxIterations":3}}},{"id":"cb310c12-595b-41fe-a24b-fc6560bc5617","name":"GPT-4o Mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1000,780],"parameters":{"model":"gpt-4o-mini","options":{"maxTokens":1024,"temperature":0.7}},"credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"id":"480a1708-8f55-47be-9bc5-505214b72d0a","name":"Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1200,780],"parameters":{"sessionIdType":"customKey","sessionKey":"=v4_{{ $('Prepare Agent Input').item.json.chatId }}","contextWindowLength":6}},{"id":"2b857bb0-dae8-4012-95b8-54ab43a5fcda","name":"Parse Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,560],"parameters":{"mode":"runOnceForAllItems","jsCode":"const out    = $input.first().json.output || $input.first().json.text || '';\nconst chatId = $('Prepare Agent Input').first().json.chatId;\n\nconst match = out.match(/ORDER_CONFIRMED:\\s*(\\{[\\s\\S]+?\\})/);\nlet orderData = null, cleanReply = out;\n\nif (match) {\n  try {\n    orderData  = JSON.parse(match[1]);\n    cleanReply = out.replace(/ORDER_CONFIRMED:[\\s\\S]*$/, '').trim();\n  } catch(e) { /* keep cleanReply as full output */ }\n}\n\nreturn [{ json: { reply: cleanReply, hasOrder: orderData !== null, orderData, chatId } }];"}},{"id":"a4011953-6ff4-4c7f-80be-c0c33134fd90","name":"Order Confirmed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1640,560],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"15d5a976-4b47-4241-b3b3-ae9676c0f414","leftValue":"={{ $json.hasOrder }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}}},{"id":"8e078c7e-5544-4ee1-b4fd-e84516f076e7","name":"Normalize WA Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.first().json;\nconst o = d.orderData || {};\nconst now = new Date();\n\nconst orderId      = o.orderId || ('BCH-' + now.toISOString().slice(0,10).replace(/-/g,'') + '-' + String(Math.floor(1000+Math.random()*9000)));\nconst total        = Number(o.total) || 0;\nconst deliveryFee  = Number(o.deliveryFee) || 0;\nconst wantsDelivery = o.wantsDelivery === true || o.wantsDelivery === 'true' || deliveryFee > 0;\nconst deliveryLine = wantsDelivery ? 'Delivery (fee: N' + deliveryFee.toLocaleString() + ')' : 'Pickup (no delivery fee)';\n\nreturn [{ json: {\n  orderId, channel: 'WhatsApp', status: o.status || 'Pending Verification',\n  customerName: o.customerName || '',\n  phone: o.phone || d.chatId,\n  address: o.address || '',\n  items: o.items || '',\n  total,\n  deliveryFee,\n  wantsDelivery,\n  deliveryTime: o.deliveryTime || 'ASAP',\n  paymentMethod: o.paymentMethod || 'Bank Transfer',\n  timestamp: now.toISOString(),\n  orderSummary: 'ORDER: ' + orderId + '\\nName: ' + (o.customerName||'') + '\\nPhone: ' + (o.phone||d.chatId) +\n    '\\nAddress: ' + (o.address||'Pickup') + '\\nItems: ' + (o.items||'') +\n    '\\nSubtotal: N' + (total - deliveryFee).toLocaleString() +\n    (wantsDelivery ? '\\nDelivery Fee: N' + deliveryFee.toLocaleString() : '') +\n    '\\nTOTAL: N' + total.toLocaleString() +\n    '\\n' + deliveryLine +\n    '\\nPreferred Time: ' + (o.deliveryTime||'ASAP') + '\\nPayment: ' + (o.paymentMethod||'Bank Transfer') +\n    '\\nChannel: WhatsApp\\nStatus: Pending Verification',\n  reply: d.reply,\n  chatId: d.chatId\n}}];"}},{"id":"08d0b5b0-e9d2-4f7d-9dbe-0e7fa11fa936","name":"Send WA Conversation Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,720],"parameters":{"method":"POST","url":"https://api.green-api.com/waInstance7107565351/SendMessage/06dee73b6da84e14900df1ff855448bde2c4f5fe45eb4bfdab","sendBody":true,"specifyBody":"json","jsonBody":"={\"chatId\":\"{{ $json.chatId }}\",\"message\":\"{{ $json.reply.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"}","options":{}}},{"id":"0042e8b5-5ba7-4f3e-b362-4843beae3d14","name":"Build Approval Links","type":"n8n-nodes-base.code","typeVersion":2,"position":[2120,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.first().json;\nconst orderPayload = {\n  orderId: d.orderId, customerName: d.customerName, phone: d.phone,\n  items: d.items, total: d.total, deliveryFee: d.deliveryFee || 0,\n  wantsDelivery: d.wantsDelivery || false,\n  address: d.address, deliveryTime: d.deliveryTime,\n  paymentMethod: d.paymentMethod, chatId: d.chatId,\n  timestamp: d.timestamp, channel: d.channel,\n  orderSummary: d.orderSummary\n};\nconst orderStr = Buffer.from(JSON.stringify(orderPayload)).toString('base64');\nconst BASE_URL = 'https://efiayomide.app.n8n.cloud/webhook/banko-chow-payment';\nconst approveUrl = BASE_URL + '?action=approve&order=' + encodeURIComponent(orderStr);\nconst rejectUrl  = BASE_URL + '?action=reject&order='  + encodeURIComponent(orderStr);\nreturn [{ json: { ...d, approveUrl, rejectUrl } }];"}},{"id":"5c99c7f3-cd69-42a6-9f3c-c9fa372229f0","name":"Send Pending WA Msg","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,280],"parameters":{"method":"POST","url":"https://api.green-api.com/waInstance7107565351/SendMessage/06dee73b6da84e14900df1ff855448bde2c4f5fe45eb4bfdab","sendBody":true,"specifyBody":"json","jsonBody":"={\"chatId\":\"{{ $json.chatId }}\",\"message\":\"Thank you! Your order *{{ $json.orderId }}* has been received. \\u2705\\n\\nWe are verifying your payment now. You will receive a confirmation shortly! \\u23f3\\n\\nFeel free to message us if you have any questions. \\ud83d\\ude4f\"}","options":{}}},{"id":"cc06be70-074d-4caa-910f-3405b6965e8b","name":"Email Approval Request","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2360,540],"parameters":{"operation":"send","sendTo":"ayomideoyedeji@gmail.com","subject":"=🔔 Payment Verification Required: {{ $json.orderId }} — N{{ $json.total }}","message":"=<h2>New Order — Payment Verification Required</h2><pre>{{ $json.orderSummary }}</pre><br><p><a href=\"{{ $json.approveUrl }}\" style=\"background:#28a745;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;font-weight:bold;\">✅ APPROVE ORDER</a></p><br><p><a href=\"{{ $json.rejectUrl }}\" style=\"background:#dc3545;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;font-weight:bold;\">❌ REJECT ORDER</a></p>","options":{"isHtml":true}},"credentials":{"gmailOAuth2":{"id":"l0HeFL1yhhiekQJW","name":"Gmail account 2"}},"webhookId":"7ab34cf3-13bd-48b3-9fac-e3ae8916d692"},{"id":"b3e8c145-f1d5-4d20-a62b-2fe749200b84","name":"Approval Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,1100],"webhookId":"75aa597d-59b6-4b81-b930-09219528979b","parameters":{"httpMethod":"GET","path":"banko-chow-payment","responseMode":"onReceived","responseData":"","options":{}}},{"id":"d5b8674f-810e-4619-8b8b-b4b0df28948b","name":"Decode Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,1100],"parameters":{"mode":"runOnceForAllItems","jsCode":"const qs = $input.first().json.query || {};\nconst action = qs.action || 'approve';\nconst orderStr = qs.order || '';\nlet order = {};\ntry {\n  order = JSON.parse(Buffer.from(decodeURIComponent(orderStr), 'base64').toString('utf8'));\n} catch(e) { order = { error: 'Invalid order data' }; }\nreturn [{ json: { action, ...order } }];"}},{"id":"9bd17d01-7578-45fd-9b46-6886138f1984","name":"Approve or Reject?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,1100],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"bb7ff7a9-85a4-403e-9c87-75c1b351922b","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"e30fcbdc-ec13-45f9-8dd5-eff4a9128d8a","name":"Save Approved Order","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[920,960],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1x6Ouned_xq3cSetlA8c_OfTuZMNE-Yw4U1AzLszNn0w","mode":"id"},"sheetName":{"__rl":true,"value":"Orders","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"OrderID":"={{ $json.orderId }}","CustomerName":"={{ $json.customerName }}","Phone":"={{ $json.phone }}","Address":"={{ $json.address }}","Items":"={{ $json.items }}","Total":"={{ $json.total }}","DeliveryTime":"={{ $json.deliveryTime }}","Channel":"={{ $json.channel }}","PaymentMethod":"={{ $json.paymentMethod }}","Status":"Confirmed","Timestamp":"={{ $json.timestamp }}"}}},"credentials":{"googleSheetsOAuth2Api":{"id":"0IwaKePAXehrqQBv","name":"Google Sheets account"}}},{"id":"14b68111-94f1-4188-b97b-fe4c12ed4514","name":"WA Order Confirmed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,880],"parameters":{"method":"POST","url":"https://api.green-api.com/waInstance7107565351/SendMessage/06dee73b6da84e14900df1ff855448bde2c4f5fe45eb4bfdab","sendBody":true,"specifyBody":"json","jsonBody":"={\"chatId\":\"{{ $(\"Decode Order\").first().json.chatId }}\",\"message\":\"\\ud83c\\udf89 Your order *{{ $(\"Decode Order\").first().json.orderId }}* is CONFIRMED!\\n\\nYour payment has been received and your order is now being prepared. \\ud83c\\udf54\\n\\nEstimated delivery: 45-60 minutes. Thank you for choosing Banko Chow! \\ud83d\\ude4f\"}","options":{}}},{"id":"4dc03afd-0d16-47b9-8c4a-56db5929ede2","name":"Email Order Confirmed","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1160,1060],"parameters":{"operation":"send","sendTo":"ayomideoyedeji@gmail.com","subject":"={{ $(\"Decode Order\").first().json.wantsDelivery ? \"🚗 DELIVERY\" : \"🏪 PICKUP\" }} Order Confirmed: {{ $(\"Decode Order\").first().json.orderId }} — N{{ $(\"Decode Order\").first().json.total }}","message":"=<h2>Order {{ $(\"Decode Order\").first().json.orderId }} — Confirmed</h2><p style=\"font-size:18px;font-weight:bold;color:{{ $(\"Decode Order\").first().json.wantsDelivery ? \"#e67e00\" : \"#2e7d32\" }}\">{{ $(\"Decode Order\").first().json.wantsDelivery ? \"🚗 DELIVERY — ₦3,000 delivery fee included\" : \"🏪 PICKUP — No delivery fee\" }}</p><pre>{{ $(\"Decode Order\").first().json.orderSummary }}</pre>","options":{"isHtml":true}},"credentials":{"gmailOAuth2":{"id":"l0HeFL1yhhiekQJW","name":"Gmail account 2"}},"webhookId":"6e205a89-3022-4935-8b75-721edb10b879"},{"id":"6d604dae-d554-446a-8a7f-8697b13e43af","name":"WA Payment Rejected","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,1240],"parameters":{"method":"POST","url":"https://api.green-api.com/waInstance7107565351/SendMessage/06dee73b6da84e14900df1ff855448bde2c4f5fe45eb4bfdab","sendBody":true,"specifyBody":"json","jsonBody":"={\"chatId\":\"{{ $(\"Decode Order\").first().json.chatId }}\",\"message\":\"\\u274c We could not verify your payment for order *{{ $(\"Decode Order\").first().json.orderId }}*.\\n\\nPlease resend your proof of payment or contact us for assistance. We are happy to help! \\ud83d\\ude4f\"}","options":{}}},{"id":"7e0de74d-30ab-4128-8902-8be0ec9a03f8","name":"Read Inventory","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1160,1240],"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1x6Ouned_xq3cSetlA8c_OfTuZMNE-Yw4U1AzLszNn0w","mode":"id"},"sheetName":{"__rl":true,"value":"Inventory","mode":"name"},"filtersUI":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"0IwaKePAXehrqQBv","name":"Google Sheets account"}}},{"id":"a96f14bd-b546-449b-a338-72dd54bd5aba","name":"Build Inventory Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,1240],"parameters":{"mode":"runOnceForAllItems","jsCode":"const orderItems = $('Decode Order').first().json.items || '';\nconst inventory  = $input.all();\n\nconst itemMap = {};\norderItems.split(',').map(s => s.trim()).forEach(part => {\n  const m1 = part.match(/^(\\d+)\\s*x?\\s+(.+)$/i);\n  const m2 = part.match(/^(.+?)\\s+x(\\d+)$/i);\n  const m = m1 || m2;\n  if (m) {\n    const qty  = parseInt(m1 ? m[1] : m[2]);\n    const name = (m1 ? m[2] : m[1]).trim().toLowerCase();\n    itemMap[name] = (itemMap[name] || 0) + qty;\n  }\n});\n\nconst updates = [];\nfor (const row of inventory) {\n  const product = (row.json.Product || '').toLowerCase();\n  for (const [itemName, qty] of Object.entries(itemMap)) {\n    if (product.includes(itemName) || itemName.includes(product)) {\n      const current = parseInt(row.json.Available) || 0;\n      updates.push({ Product: row.json.Product, Available: Math.max(0, current - qty) });\n      break;\n    }\n  }\n}\n\nreturn updates.length ? updates.map(u => ({ json: u })) : [{ json: { skipped: true } }];"}},{"id":"cbabd845-e5bf-4121-95a7-d2f6f3cae09b","name":"Update Inventory Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1640,1240],"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1x6Ouned_xq3cSetlA8c_OfTuZMNE-Yw4U1AzLszNn0w","mode":"id"},"sheetName":{"__rl":true,"value":"Inventory","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Product":"={{ $json.Product }}","Available":"={{ $json.Available }}"},"matchingColumns":["Product"]}},"credentials":{"googleSheetsOAuth2Api":{"id":"0IwaKePAXehrqQBv","name":"Google Sheets account"}}}],"connections":{"WA Webhook":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Filter: Valid Text Message","type":"main","index":0}]]},"Filter: Valid Text Message":{"main":[[{"node":"Prepare Agent Input","type":"main","index":0}],[]]},"Prepare Agent Input":{"main":[[{"node":"Order Management Agent","type":"main","index":0}]]},"Order Management Agent":{"main":[[{"node":"Parse Agent Response","type":"main","index":0}]]},"Parse Agent Response":{"main":[[{"node":"Order Confirmed?","type":"main","index":0}]]},"Order Confirmed?":{"main":[[{"node":"Normalize WA Order","type":"main","index":0}],[{"node":"Send WA Conversation Reply","type":"main","index":0}]]},"Normalize WA Order":{"main":[[{"node":"Build Approval Links","type":"main","index":0}]]},"Build Approval Links":{"main":[[{"node":"Send Pending WA Msg","type":"main","index":0},{"node":"Email Approval Request","type":"main","index":0}]]},"GPT-4o Mini":{"ai_languageModel":[[{"node":"Order Management Agent","type":"ai_languageModel","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"Order Management Agent","type":"ai_memory","index":0}]]},"Approval Webhook":{"main":[[{"node":"Decode Order","type":"main","index":0}]]},"Decode Order":{"main":[[{"node":"Approve or Reject?","type":"main","index":0}]]},"Approve or Reject?":{"main":[[{"node":"Save Approved Order","type":"main","index":0}],[{"node":"WA Payment Rejected","type":"main","index":0}]]},"Save Approved Order":{"main":[[{"node":"WA Order Confirmed","type":"main","index":0},{"node":"Email Order Confirmed","type":"main","index":0},{"node":"Read Inventory","type":"main","index":0}]]},"Read Inventory":{"main":[[{"node":"Build Inventory Updates","type":"main","index":0}]]},"Build Inventory Updates":{"main":[[{"node":"Update Inventory Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":{"global":{"seenIds":{"2AC7B53B1956EFA12072":1775094750807}},"node:Poll Every 5s":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e245c16e-7fac-4345-bb86-aa34e9f4e8fc","activeVersionId":null,"versionCounter":266,"triggerCount":2,"shared":[{"updatedAt":"2026-03-24T20:30:41.238Z","createdAt":"2026-03-24T20:30:41.238Z","role":"workflow:owner","workflowId":"yUmnnuX5JoSmDp1W","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":null}