workflows/easy-day-email-agent.json
{"updatedAt":"2026-03-20T16:51:07.637Z","createdAt":"2026-02-06T04:53:52.605Z","id":"xL7f6ePJPfNhCOIG","name":"Easy Day Email Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"readStatus":"unread"}},"id":"trigger-gmail","name":"New Email Received","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-128,-32],"credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=You are an expert email assistant helping a busy professional have an easier, more productive day.\n\nA new email just arrived. Here are the details:\n- **From:** {{ $json.From }}\n- **Subject:** {{ $json.Subject }}\n- **Snippet:** {{ $json.snippet }}\n- **Received:** {{ new Date(Number($json.internalDate)).toLocaleString() }}\n- **Message ID:** {{ $json.id }}\n- **Thread ID:** {{ $json.threadId }}\n\n## Instructions\n\n1. **Check for spam/phishing** — suspicious sender, fake urgency, credential requests, too-good-to-be-true offers\n\n2. **Classify priority** — HIGH / MEDIUM / LOW\n\n3. **Determine action** — REPLY_NOW, REPLY_LATER, SCHEDULE, ARCHIVE, or DELEGATE\n\n4. **IMPORTANT — You MUST use the Gmail tool to take action before responding.** Do NOT just say you did something. Actually call the tool.\n   - For spam: use Gmail tool to add label \"Spam/Detected\", mark as read, and move to trash\n   - For HIGH priority: use Gmail tool to create a draft reply, and add labels (e.g. \"Priority/High\", \"Action/Reply\")\n   - For MEDIUM priority: use Gmail tool to add labels (e.g. \"Priority/Medium\")\n   - For LOW priority: use Gmail tool to add labels (e.g. \"Priority/Low\", \"Type/Newsletter\") and mark as read\n   - For meeting requests: use Google Calendar tool to check availability FIRST, then use Gmail tool to draft a reply\n\n5. **NEVER send emails** — only create drafts\n\n## Output Format\n\nAfter you have ACTUALLY used the tools, respond with this clean format only:\n\nFrom: [sender]\nSubject: [subject line]\nReceived: [date and time the email was received]\nPriority: [HIGH / MEDIUM / LOW]\nAction: [REPLY_NOW / REPLY_LATER / SCHEDULE / ARCHIVE / DELEGATE]\n\nSummary: [1-2 sentences about the email and what the sender wants]\n\nKey Details:\n- [point 1]\n- [point 2]\n- [point 3 if needed]\n\nAction Taken: [What you ACTUALLY did with the tools — only report actions you truly performed]\n\nDo NOT include analysis steps or internal reasoning. Only output the clean summary above.","options":{"systemMessage":"You are a professional email management assistant. You triage, organize, and summarize emails.\n\nCRITICAL RULES:\n- You MUST actually use the Gmail tool to label emails and create drafts. Do NOT claim you did something without calling the tool.\n- NEVER send emails directly — only create drafts using the Gmail tool\n- Use Gmail labels: Priority/High, Priority/Medium, Priority/Low, Action/Reply, Action/Schedule, Action/Archive, Type/Newsletter, Type/Meeting, Type/Project, Type/Personal, Spam/Detected\n- For meeting requests, use the Google Calendar tool to check availability before drafting a response\n- Your output goes directly to Slack and email — keep it clean and professional\n- Do NOT use markdown headers (##) in your output\n- Do NOT show reasoning steps"}},"id":"agent-email","name":"Email Assistant Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,-64]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.3}},"id":"model-openai","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[112,144],"credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"={{ $fromAI('Subject', ``, 'string') }}","message":"={{ $fromAI('Message', ``, 'string') }}","options":{}},"id":"tool-gmail","name":"Gmail Tool","type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[432,224],"webhookId":"733aaf1b-6555-423d-82b0-1983be4d8f7d","credentials":{"gmailOAuth2":{"id":"l0HeFL1yhhiekQJW","name":"Gmail account 2"}}},{"parameters":{"calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"additionalFields":{}},"id":"tool-calendar","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[592,224],"credentials":{"googleCalendarOAuth2Api":{"id":"58oP3328s5z3PRii","name":"Google Calendar account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"email_agent_session","contextWindowLength":10},"id":"memory-simple","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[256,176]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Q2FZVV4VIBGYogBxkrs6Z3GiR90qqfzvsz9VtD6tcBk","mode":"list","cachedResultName":"Efi","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2FZVV4VIBGYogBxkrs6Z3GiR90qqfzvsz9VtD6tcBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2FZVV4VIBGYogBxkrs6Z3GiR90qqfzvsz9VtD6tcBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"output":"={{ $json.output }}"},"matchingColumns":["output"],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0c8fa261-efae-4ee0-977f-50680a9fc4f8","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,-208],"credentials":{"googleSheetsOAuth2Api":{"id":"KAAieJEExTWbaKpE","name":"Google Sheets account 2"}}},{"parameters":{"authentication":"oAuth2","select":"user","user":{"__rl":true,"value":"U0AGDUKB7DH","mode":"list","cachedResultName":"ayomideoyedeji"},"text":"=*New Email Processed*\n\n*From:* {{ $('New Email Received').item.json.From }}\n*Subject:* {{ $('New Email Received').item.json.Subject }}\n\n*Agent Summary:*\n{{ $json.output }}","otherOptions":{}},"id":"4e8169f5-1042-4184-9d26-51c73b53e536","name":"Slack Notification","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[832,16],"webhookId":"78c484fc-3cae-4cd5-8ed6-ff1e67e64339","credentials":{"slackOAuth2Api":{"id":"pqDufujqpuj3LYFs","name":"Slack account"}}},{"parameters":{"sendTo":"efiayomide@gmail.com","subject":"=Email Agent Report: {{ $('New Email Received').item.json.Subject }}","message":"=<h2>Email Agent Report</h2>\n<hr>\n<p><strong>From:</strong> {{ $('New Email Received').item.json.From }}</p>\n<p><strong>Subject:</strong> {{ $('New Email Received').item.json.Subject }}</p>\n<hr>\n<h3>Agent Summary</h3>\n<p>{{ $json.output }}</p>\n<hr>\n<p><em>Processed at {{ new Date().toLocaleString() }}</em></p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[832,192],"id":"fffdfb1e-cd05-473f-83f5-ca7fde4a4c89","name":"Send a message","webhookId":"8064bed7-c6a3-4fc1-9e0a-1adb15b9f662","credentials":{"gmailOAuth2":{"id":"l0HeFL1yhhiekQJW","name":"Gmail account 2"}}}],"connections":{"New Email Received":{"main":[[{"node":"Email Assistant Agent","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Email Assistant Agent","type":"ai_languageModel","index":0}]]},"Gmail Tool":{"ai_tool":[[{"node":"Email Assistant Agent","type":"ai_tool","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"Email Assistant Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Email Assistant Agent","type":"ai_memory","index":0}]]},"Email Assistant Agent":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0},{"node":"Slack Notification","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Log to Google Sheets":{"main":[[]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"gxfiw0n0Ov6Xvmg4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"49f9ffd3-42c8-44ee-a3e0-018066a83a73","activeVersionId":null,"versionCounter":55,"triggerCount":0,"shared":[{"updatedAt":"2026-02-06T04:53:52.609Z","createdAt":"2026-02-06T04:53:52.609Z","role":"workflow:owner","workflowId":"xL7f6ePJPfNhCOIG","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":null}