workflows/email-summariser.json
{"updatedAt":"2026-03-20T16:50:21.288Z","createdAt":"2025-11-15T03:16:34.053Z","id":"KnUZyla0A9sah8OJ","name":"Email summariser","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"downloadAttachments":true,"options":{"customEmailConfig":"[\"UNSEEN\"]","trackLastMessageId":true}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-256,160],"id":"4b193ef7-2a03-4519-b80c-e1c391591540","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"DpQaIfBD0X2XrLsa","name":"IMAP account"}}},{"parameters":{"html":"={{ $json.textHtml }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-64,160],"id":"e427e222-a387-4bb2-bd7e-99b1f6f37b65","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Your job is to read an email (and any attached plain-text content) and produce a concise, well-structured summary in plain text format. Remove all markdown formatting including asterisks, hashtags, and special characters. Use simple paragraphs and line breaks only. Be precise, avoid assumptions, surface ambiguity, and suggest next steps. Make it professional and easy to read."},{"content":"=subject: {{ $json.subject }}\nbody: {{ $json.data }} \nfrom: {{ $json.from }}\ndate: {{ $json.date }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[192,160],"id":"98f56e46-b5f2-4628-a8d5-834120b51881","name":"Summarise Email","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"sendTo":"ayomideoyedeji@gmail.com","subject":"summary of email","emailType":"text","message":"={{ $json.output[0].content[0].text }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,64],"id":"d90979c1-252f-41b6-b6fe-24b32a3cd694","name":"Send a message","webhookId":"72c20473-837a-4b10-81d4-cdb9a50b3e88","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"chatId":"=641025024","text":"={{ $json.output[0].content[0].text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,256],"id":"ed154547-c2f2-4833-b541-5eb1632c3bd0","name":"Send a text message","webhookId":"eb777704-b716-4f86-ac1c-50c3a4e714f5","credentials":{"telegramApi":{"id":"9JjTrRGE5Q2AqtqF","name":"Telegram"}}},{"parameters":{"operation":"send","phoneNumberId":"=803355566205101","recipientPhoneNumber":"=+447749752890","textBody":"={{ $json.output[0].content[0].text }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[608,496],"id":"8f85ad7c-162b-46f2-83f0-763196315b27","name":"Send message","webhookId":"c8b4fe5f-051f-480a-94a4-9de0608b5a07","credentials":{"whatsAppApi":{"id":"GwLRB85C0V8jLuFl","name":"WhatsApp account"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarise Email","type":"main","index":0}]]},"Summarise Email":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Send a text message","type":"main","index":0},{"node":"Send message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"gxfiw0n0Ov6Xvmg4","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"26c97b78-fea2-4252-bfe3-4d7b6a0c1359","activeVersionId":null,"versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2025-11-15T03:16:34.056Z","createdAt":"2025-11-15T03:16:34.056Z","role":"workflow:owner","workflowId":"KnUZyla0A9sah8OJ","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":null}