workflows/job-automation-v3.json
{"updatedAt":"2026-04-02T13:03:55.573Z","createdAt":"2026-04-02T13:03:55.573Z","id":"u1x8J5VaAJ8fYcaH","name":"Job Automation V3 (Sponsorship)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4b6ea43e-7a24-41ff-86e2-b5dbf26b661f","name":"searchQuery","value":"={{ ($json['Job Title or Keywords'] || '') + ' ' + ($json['Location'] || '') + ' visa sponsorship' }}","type":"string"}],"assignments[0]":{"name":"searchQuery","value":"={{ ($json['Job Title or Keywords'] || '') + ' ' + ($json['Location'] || '') + ' visa sponsorship' }}"}},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-400],"id":"e6691450-bdcd-4c1b-8284-4c9b0f9cc1bf","name":"Job search URL"},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"CkLDY9GAQf6QlP6GP","mode":"list","cachedResultName":"Google Jobs Scraper (johnvc/Google-Jobs-Scraper)","cachedResultUrl":"https://console.apify.com/actors/CkLDY9GAQf6QlP6GP/input"},"customBody":"={\n  \"queries\": [\n    \"{{ $json.searchQuery }}\"\n  ],\n  \"maxResults\": 100,\n  \"countryCode\": \"gb\",\n  \"languageCode\": \"en\"\n}","authentication":"apifyOAuth2Api"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[176,-720],"id":"c2481022-4191-400a-8f34-fd3f5d0c356d","name":"Scrape Jobs","credentials":{"apifyOAuth2Api":{"id":"3ShHE6OKIJRqsLST","name":"Apify account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b92cc42d-d4a1-4b93-a926-38bc5ff195cd","leftValue":"={{ $json.output.Verdict }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1152,-80],"id":"5d6cf74d-6fe9-4b23-8b3b-3ec93e7fcc09","name":"Filter"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[768,144],"id":"26a76dd2-370f-4abe-b486-2dba0eb179c5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Verdict\": true,\n  \"reason\": \"reasonforverdict\",\n  \"rule\": {\n    \"if_fit\": true,\n    \"return\": true,\n    \"if_not_fit\": false,\n    \"return_false\": true\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,128],"id":"583ef1ef-5538-4c15-9daa-941fffb5c14f","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=## Task\nEvaluate whether I am a STRONG fit for this job. Be selective and critical — only approve jobs where I would be a competitive candidate.\n\n## Evaluation Criteria\n- At least 60% of the required skills or experience must be clearly present in my CV\n- The seniority level must be appropriate (not significantly more senior or junior than my experience)\n- The industry or domain should be relevant to my background\n- If the job requires specific certifications, qualifications, or years of experience I clearly do not have, mark as NOT FIT\n\n## Rules\n- If you are unsure or the match is borderline, return Verdict: false\n- Only return Verdict: true for jobs where I have a genuine chance of being shortlisted\n- Generic or vague job descriptions that do not clearly align with my skills should be Verdict: false\n- Do NOT approve every job — be genuinely selective\n\n## My Resume\n{{ $json.content ?? $json.text }}\n\n## Job Description\n{{ $json.descriptionText }}\n\n## Sponsorship Requirement\nThis workflow specifically targets jobs that offer UK Skilled Worker visa sponsorship.\nIf the job description does NOT mention sponsorship, and the company is not clearly a large multinational known to sponsor, return Verdict: false regardless of skill match.\nKeywords to look for: visa sponsorship, sponsorship provided, certificate of sponsorship, tier 2, skilled worker visa, we sponsor, COS provided.","hasOutputParser":true,"options":{"systemMessage":"You are a strict and precise job relevance assessor. Your role is to carefully compare a candidate's CV against a job description and determine if there is a STRONG match. You must reject jobs that are only tangentially related to the candidate's skills and experience. Be selective — it is better to reject a borderline job than to waste the candidate's time on a poor fit. Never approve more than 40-50% of jobs unless the candidate is genuinely qualified for all of them."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[784,-112],"id":"d82d5487-4d8f-41d4-b7c6-6aba976db603","name":"Check Relevance"},{"parameters":{"sendTo":"={{ $('Job Application Form').first().json['Your Email'] }}","subject":"=Job Application Summary - {{ $json.totalJobs }} Relevant Jobs Found","emailType":"text","message":"=Hi {{ $('Job Application Form').first().json['Your Name'] }},\n\nYour job application automation has completed. Here is your summary:\n\nTotal relevant jobs found: {{ $json.totalJobs }}\n\n{{ $json.jobList }}\n\nAll customised CVs and cover letters have been saved to your Google Drive and tracked in your Jobs Tracker spreadsheet.\n\nNote: All results are from UK Skilled Worker visa-licensed sponsors or roles that explicitly mention sponsorship.\n\nGood luck with your applications!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2624,-208],"id":"06ad3112-080c-4bed-b61b-5972e1b15b2d","name":"Send a message","webhookId":"fd30b1d9-a3fc-4c7f-8a0e-63fe572c4935","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"=You are a professional Resume Writer and Career Coach.\n\nYour role is to generate a highly customised Cover Letter based on the user’s CV and the job description they provide.\n\nYou must always produce consultancy-grade, professional documents that are ready for direct use without further editing.\n\nDOCUMENT FORMATTING RULES (VERY IMPORTANT)\n\nAll output must be written as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny special formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and structure to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nProfessional\nClear and concise\nEasy to scan\n\nUse:\nSpacing and indentation for structure\nBullet points where appropriate\n\nTONE AND STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for internal documentation and an AI knowledge base\n\nOBJECTIVES – COVER LETTER GENERATION\n\nThe Cover Letter must be:\nSpecifically written for the role and company\nProfessional but confident in tone\nFocused on impact, value, and cultural fit\nNot generic and not reusable\n\nOutput ONLY the custom cover letter. Do not include a CV."},{"content":"=OVERVIEW\n\nI am actively applying for jobs.\nPlease generate a highly customised Cover Letter for the job description below, using my CV as context.\n\nJOB DESCRIPTION\n\n{{ $('Scrape Jobs').item.json.descriptionText }}\n\nCONTEXT – MY CURRENT CV\n\n{{ $('Merge CV').item.json.content ?? $('Merge CV').item.json.text }}\n\nDOCUMENT TRANSFORMATION & FORMATTING RULES (VERY IMPORTANT)\n\nRewrite all output as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and layout to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nClear\nProfessional\nEasy to scan\n\nUse:\nSpacing and indentation to create visual structure\nBullet points where appropriate\n\nTONE & STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for an AI knowledge base and internal documentation\n\nOBJECTIVES – COVER LETTER REQUIREMENTS\n\nSpecifically written for the role and company\n\nProfessional but confident in tone\n\nFocused on impact, value, and cultural fit\n\nNot generic and not reusable"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1328,-496],"id":"3263e154-9c4e-401f-9cd1-383cde7eb063","name":"customise cover letter","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"=You are a professional Resume Writer and Career Coach.\n\nYour role is to rewrite and optimise the user’s CV so it is perfectly tailored to the job description they provide.\n\nYou must always produce consultancy-grade, professional documents that are ready for direct use without further editing.\n\nDOCUMENT FORMATTING RULES (VERY IMPORTANT)\n\nAll output must be written as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny special formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and structure to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nProfessional\nClear and concise\nEasy to scan\n\nUse:\nSpacing and indentation for structure\nBullet points where appropriate\n\nTONE AND STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for internal documentation and an AI knowledge base\n\nOBJECTIVES – CV OPTIMISATION\n\nThe CV must be:\nFully aligned with the job description\nATS-friendly (Applicant Tracking System)\nAchievement-focused, not task-focused\nKeyword-optimised using language from the job description\nWritten in strong, active, impact-driven language\n\nOutput ONLY the optimised CV. Do not include a cover letter."},{"content":"=OVERVIEW\n\nI am actively applying for jobs.\nPlease rewrite and optimise my CV so it is perfectly tailored to the job description below.\n\nJOB DESCRIPTION\n\n{{ $('Scrape Jobs').item.json.descriptionText }}\n\nCONTEXT – MY CURRENT CV\n\n{{ $('Merge CV').item.json.content ?? $('Merge CV').item.json.text }}\n\nDOCUMENT TRANSFORMATION & FORMATTING RULES (VERY IMPORTANT)\n\nRewrite all output as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and layout to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nClear\nProfessional\nEasy to scan\n\nUse:\nSpacing and indentation to create visual structure\nBullet points where appropriate\n\nTONE & STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for an AI knowledge base and internal documentation\n\nOBJECTIVES – CV REQUIREMENTS\n\nFully aligned with the job description\n\nATS-friendly (Applicant Tracking System)\n\nAchievement-focused, not task-focused\n\nKeyword-optimised using language from the job description\n\nWritten in strong, active, impact-driven language"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1424,256],"id":"f6111357-a90b-438d-9f19-0769b7253d50","name":"customise resume","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"folderId":"1K5qsQb-1dftaDVH7au1auMnJ6xhgoOk5","title":"=Cover letter  {{ $('Scrape Jobs').item.json.companyName }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1696,-624],"id":"9fbfd27b-22ea-4e4d-a842-2b3f97bbfe79","name":"Create a cover letter","credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"folderId":"1K5qsQb-1dftaDVH7au1auMnJ6xhgoOk5","title":"=CV Efi {{ $('Scrape Jobs').item.json.companyName }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1744,464],"id":"b5a3d863-6f17-4f21-8d87-322a916aea6b","name":"Create a CV","credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1rlZwH5KoZwpuLyUiD7GGHvVQTKnZ4xUGo39rmcCAPps","mode":"list","cachedResultName":"Jobs Tracker DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rlZwH5KoZwpuLyUiD7GGHvVQTKnZ4xUGo39rmcCAPps/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rlZwH5KoZwpuLyUiD7GGHvVQTKnZ4xUGo39rmcCAPps/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Job Post Link":"={{ $('Normalize Jobs').item.json.link }}","Job Title ":"={{ $('Normalize Jobs').item.json.title }}","Posted At":"={{ $('Normalize Jobs').item.json.postedAt }}","Company Name":"={{ $('Normalize Jobs').item.json.companyName }}","Company Website":"={{ $('Normalize Jobs').item.json.companyWebsite }}","Salary":"={{ $('Normalize Jobs').item.json.salary }}","Description":"={{ $('Normalize Jobs').item.json.companyDescription }}","No Applicants":"={{ $('Normalize Jobs').item.json.applicantsCount }}","Resume URL":"=https://docs.google.com/document/d/{{ $('Create a CV').item.json.id }}/edit","Cover Letter URL":"=https://docs.google.com/document/d/{{ $('Create a cover letter').item.json.id }}/edit"},"matchingColumns":["Job Post Link"],"schema":[{"id":"Job Post Link","displayName":"Job Post Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Job Title ","displayName":"Job Title ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posted At","displayName":"Posted At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Salary","displayName":"Salary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"No Applicants","displayName":"No Applicants","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resume URL","displayName":"Resume URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cover Letter URL","displayName":"Cover Letter URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,-208],"id":"6935755d-0b67-41ba-8939-1f1e4db71309","name":"Append or update row in sheet","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"0IwaKePAXehrqQBv","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"38ae76fe-b920-4409-91ff-cca706823e38","name":"Merge Documents","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2080,-16]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"cv-check","leftValue":"={{ 'Upload_CV' in $binary }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"9456c068-fc95-4333-a5eb-a7ae5ea2126e","name":"Check CV Source","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,64]},{"parameters":{"operation":"get","documentURL":"={{ $('Job Application Form').item.json['CV Google Docs Link'] }}"},"id":"f2744f48-54b3-4c36-abfa-72686b588cf8","name":"Read CV from Link","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[0,352],"credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{},"id":"89677c20-80e1-4ca1-8e0f-4c1f6ae13a04","name":"Merge CV","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,624]},{"parameters":{"formTitle":"Job Application Automation","formDescription":"Submit your job search criteria and let the workflow match you to the best jobs","formFields":{"values":[{"fieldLabel":"Job Title or Keywords","placeholder":"e.g. Software Engineer","requiredField":true},{"fieldLabel":"Location","placeholder":"e.g. London, UK"},{"fieldLabel":"Your Name","requiredField":true},{"fieldLabel":"Your Email","fieldType":"email","requiredField":true},{"fieldLabel":"Your Phone"},{"fieldLabel":"CV Google Docs Link","placeholder":"e.g. https://docs.google.com/document/d/..."},{"fieldLabel":"Upload CV","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf,.doc,.docx"}]},"options":{}},"id":"ebfe1b80-654c-41ad-a268-c5b030c2b868","name":"Job Application Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-560,-224],"webhookId":"00c3a47a-5c0d-47a2-b2e8-e770df7fac2a"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"99c7fd9c-e24c-48b7-953a-679712131219","name":"Merge Jobs and CV","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,-32],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"leftValue":"={{ $binary.Upload_CV.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"condition-1770696784571-u0m54u0so"}]},"options":{}},"id":"d1cc0547-431d-4c74-8d8c-11cc4e3136d3","name":"Check File Type","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-64]},{"parameters":{"operation":"pdf","binaryPropertyName":"Upload_CV","options":{"joinPages":true}},"id":"4b579a0c-57cf-4613-9e02-3169d2216446","name":"Extract PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[144,-128]},{"parameters":{"operation":"text","binaryPropertyName":"Upload_CV","destinationKey":"text","options":{}},"id":"0f13a69f-09eb-4ea6-a982-be541bca7cae","name":"Extract Word","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[112,192]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst jobList = items.map((item, i) => {\n  const j = item.json;\n  return `${i + 1}. ${j['Job Title '] || 'Unknown Role'} at ${j['Company Name'] || 'Unknown Company'}\n   Salary: ${j['Salary'] || 'Not specified'}\n   Job Link: ${j['Job Post Link'] || 'N/A'}\n   Resume: ${j['Resume URL'] || 'N/A'}\n   Cover Letter: ${j['Cover Letter URL'] || 'N/A'}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    totalJobs: items.length,\n    jobList: jobList\n  }\n}];"},"id":"77568bb9-ce76-4fd6-86c3-aa0afd4ccbd1","name":"Summarise Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-208]},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('customise cover letter').item.json.output[0].content[0].text }}"}]}},"id":"09925ecd-7256-4cab-b6df-03e1abcbf75f","name":"Write Cover Letter","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1936,-320],"credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('customise resume').item.json.output[0].content[0].text }}"}]}},"id":"7d849c46-f3f4-45ee-a856-1ad26e1e0ad9","name":"Write CV","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1952,224],"credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"sendTo":"={{ $json['Your Email'] }}","subject":"=Your Job Search is Being Processed - {{ $json['Job Title or Keywords'] }}","emailType":"text","message":"=Hi {{ $json['Your Name'] }},\n\nThank you for submitting your job application request. We're now processing your search.\n\nHere's what's happening:\n- Scraping LinkedIn for matching jobs based on your search URL\n- Analysing each job against your CV using AI\n- Creating customised CVs and cover letters for relevant matches\n- Saving everything to Google Drive and your tracker spreadsheet\n\nThis typically takes 10-40 minutes. You'll receive another email with your results once complete.\n\nSit tight!","options":{}},"id":"9e05212e-a895-47b8-a8ee-1eab332a70df","name":"Send Confirmation","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-320,-480],"webhookId":"326377b4-a9c0-416b-aa25-ff53d750309f","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst matches = items.filter(item => item.json.output && item.json.output.Verdict === true);\n\nif (matches.length === 0) {\n  return [{\n    json: {\n      noMatches: true,\n      totalJobsChecked: items.length\n    }\n  }];\n}\n\n// Has matches - return empty so downstream doesn't execute\nreturn [];"},"id":"dbc46a7c-9ccd-4e03-a784-977b58a557ac","name":"Check for No Matches","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,336]},{"parameters":{"sendTo":"={{ $('Job Application Form').first().json['Your Email'] }}","subject":"=Job Search Complete - No Matches Found","emailType":"text","message":"=Hi {{ $('Job Application Form').first().json['Your Name'] }},\n\nWe've finished processing your job search request for \"{{ $('Job Application Form').first().json['Job Title or Keywords'] }}\".\n\nUnfortunately, none of the {{ $json.totalJobsChecked }} jobs found matched your profile closely enough. This could mean:\n- The search terms were too broad or too narrow\n- The available jobs don't align well with your current experience\n- The roles require specific qualifications not found in your CV\n\nTry adjusting your LinkedIn search URL or keywords and submit again.\n\nGood luck!","options":{}},"id":"b4629666-41b9-4e85-b529-a991650a0b2f","name":"Send No Match Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1520,592],"webhookId":"55729858-4ffb-481f-8583-f8fc9b3e3e93","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"jobs-found-check","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"a4e2b3f3-e758-4234-a453-5d6727d31dfc","name":"Jobs Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,-352]},{"parameters":{"sendTo":"={{ $('Job Application Form').first().json['Your Email'] }}","subject":"=Job Search: No Sponsored Jobs Found","emailType":"text","message":"=Hi {{ $('Job Application Form').first().json['Your Name'] }},\n\nWe searched Google Jobs for \"{{ $('Job Application Form').first().json['Job Title or Keywords'] }}\" roles in \"{{ $('Job Application Form').first().json['Location'] || 'your location' }}\" with visa sponsorship — but no matching listings were found.\n\nTips to get more results:\n- Broaden your job title (e.g. 'Engineer' instead of 'Senior Backend Engineer')\n- Try a major city like 'London' or 'Manchester'\n- Note: only roles at UK Skilled Worker visa sponsors are included\n\nSubmit the form again to try different search criteria.\n\nGood luck!","options":{}},"id":"33d071ce-46f1-4957-9488-7e86912ac5d1","name":"Send No Scrape Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,-496],"webhookId":"cf06734d-0be6-4144-98e1-6de04a81b0e3","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const job = item.json;\n  // Map Google Jobs Scraper fields to match downstream node expectations\n  return {\n    json: {\n      ...job,\n      descriptionText: job.description || job.descriptionText || '',\n      link: job.applyLink || job.jobUrl || job.link || '',\n      postedAt: job.date || job.postedAt || '',\n      companyWebsite: job.companyUrl || job.companyWebsite || '',\n      companyDescription: job.companyDescription || job.description || '',\n      applicantsCount: job.applicantsCount || '',\n      title: job.title || '',\n      companyName: job.companyName || '',\n      location: job.location || '',\n      salary: job.salary || job.salaryRange || ''\n    }\n  };\n});"},"id":"452eccd7-53de-452f-a613-e73ae879fa9a","name":"Normalize Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-736]},{"id":"54a50493-df88-4c87-b1f2-70666ce4f383","name":"Filter Sponsor Companies","type":"n8n-nodes-base.code","typeVersion":2,"position":[530,-352],"parameters":{"jsCode":"const jobs = $input.all();\n\n// Step 1: Get latest CSV URL from GOV.UK API\nlet sponsorNames = new Set();\ntry {\n  const govResp = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.gov.uk/api/content/government/publications/register-of-licensed-sponsors-workers'\n  });\n  const attachments = govResp?.details?.attachments || [];\n  const csv = attachments.find(a => a.url?.endsWith('.csv') || a.file_extension === 'csv');\n  if (csv?.url) {\n    // Step 2: Download the CSV\n    const csvText = await $helpers.httpRequest({ method: 'GET', url: csv.url });\n    // Step 3: Parse — column 0 is Organisation Name, skip header row\n    const lines = csvText.split('\\n').slice(1);\n    const stripSuffixes = /\\s*(ltd|limited|plc|llp|inc|llc|group|uk|services|solutions|international|global)\\s*\\.?$/gi;\n    for (const line of lines) {\n      const col = line.split(',')[0]?.replace(/^\"|\"$/g, '').trim().toLowerCase();\n      if (col) {\n        sponsorNames.add(col);\n        sponsorNames.add(col.replace(stripSuffixes, '').trim());\n      }\n    }\n  }\n} catch (e) {\n  // Register unavailable — fall back to keyword-only filtering\n  console.log('Sponsor register unavailable, using keyword filter only:', e.message);\n}\n\nconst sponsorKeywords = [\n  'visa sponsorship', 'sponsorship provided', 'we sponsor', 'tier 2',\n  'skilled worker visa', 'certificate of sponsorship', 'cos provided',\n  'sponsorship available', 'happy to sponsor'\n];\n\nconst stripSuffixesRe = /\\s*(ltd|limited|plc|llp|inc|llc|group|uk|services|solutions|international|global)\\s*\\.?$/gi;\n\nreturn jobs\n  .map(item => {\n    const job = item.json;\n    const co = (job.companyName || '').toLowerCase().trim();\n    const desc = (job.descriptionText || '').toLowerCase();\n    const title = (job.title || '').toLowerCase();\n\n    // Check 1: Company name in sponsor register (exact + normalised)\n    const coNorm = co.replace(stripSuffixesRe, '').trim();\n    const inRegister = sponsorNames.size > 0 && (\n      sponsorNames.has(co) ||\n      sponsorNames.has(coNorm) ||\n      (coNorm.length > 4 && [...sponsorNames].some(s => s.includes(coNorm) || coNorm.includes(s)))\n    );\n\n    // Check 2: Job description or title mentions sponsorship keywords\n    const mentionsSponsorship = sponsorKeywords.some(kw => desc.includes(kw) || title.includes(kw));\n\n    const sponsorMatch = inRegister ? 'register' : mentionsSponsorship ? 'description' : null;\n    if (!sponsorMatch) return null;\n\n    return { json: { ...job, sponsorMatch } };\n  })\n  .filter(Boolean);\n"}}],"connections":{"Job search URL":{"main":[[{"node":"Scrape Jobs","type":"main","index":0}]]},"Filter":{"main":[[{"node":"customise cover letter","type":"main","index":0},{"node":"customise resume","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Check Relevance","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Check Relevance","type":"ai_outputParser","index":0}]]},"Check Relevance":{"main":[[{"node":"Filter","type":"main","index":0},{"node":"Check for No Matches","type":"main","index":0}]]},"customise cover letter":{"main":[[{"node":"Create a cover letter","type":"main","index":0}]]},"customise resume":{"main":[[{"node":"Create a CV","type":"main","index":0}]]},"Merge Documents":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Check CV Source":{"main":[[{"node":"Check File Type","type":"main","index":0}],[{"node":"Read CV from Link","type":"main","index":0}]]},"Read CV from Link":{"main":[[{"node":"Merge CV","type":"main","index":1}]]},"Job Application Form":{"main":[[{"node":"Job search URL","type":"main","index":0},{"node":"Check CV Source","type":"main","index":0},{"node":"Send Confirmation","type":"main","index":0}]]},"Scrape Jobs":{"main":[[{"node":"Normalize Jobs","type":"main","index":0}]]},"Merge CV":{"main":[[{"node":"Merge Jobs and CV","type":"main","index":1}]]},"Merge Jobs and CV":{"main":[[{"node":"Check Relevance","type":"main","index":0}]]},"Check File Type":{"main":[[{"node":"Extract PDF","type":"main","index":0}],[{"node":"Extract Word","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Summarise Results","type":"main","index":0}]]},"Summarise Results":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Extract PDF":{"main":[[{"node":"Merge CV","type":"main","index":0}]]},"Extract Word":{"main":[[{"node":"Merge CV","type":"main","index":0}]]},"Create a cover letter":{"main":[[{"node":"Write Cover Letter","type":"main","index":0}]]},"Write Cover Letter":{"main":[[{"node":"Merge Documents","type":"main","index":0}]]},"Create a CV":{"main":[[{"node":"Write CV","type":"main","index":0}]]},"Write CV":{"main":[[{"node":"Merge Documents","type":"main","index":1}]]},"Check for No Matches":{"main":[[{"node":"Send No Match Email","type":"main","index":0}]]},"Jobs Found?":{"main":[[{"node":"Merge Jobs and CV","type":"main","index":0}],[{"node":"Send No Scrape Email","type":"main","index":0}]]},"Normalize Jobs":{"main":[[{"node":"Filter Sponsor Companies","type":"main","index":0}]]},"Filter Sponsor Companies":{"main":[[{"node":"Jobs Found?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"gxfiw0n0Ov6Xvmg4","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"126df75a-b2ce-42d8-a9da-77b0a425b139","activeVersionId":"126df75a-b2ce-42d8-a9da-77b0a425b139","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-04-02T13:03:55.575Z","createdAt":"2026-04-02T13:03:55.575Z","role":"workflow:owner","workflowId":"u1x8J5VaAJ8fYcaH","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-02T13:03:55.614Z","createdAt":"2026-04-02T13:03:55.614Z","versionId":"126df75a-b2ce-42d8-a9da-77b0a425b139","workflowId":"u1x8J5VaAJ8fYcaH","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4b6ea43e-7a24-41ff-86e2-b5dbf26b661f","name":"searchQuery","value":"={{ ($json['Job Title or Keywords'] || '') + ' ' + ($json['Location'] || '') + ' visa sponsorship' }}","type":"string"}],"assignments[0]":{"name":"searchQuery","value":"={{ ($json['Job Title or Keywords'] || '') + ' ' + ($json['Location'] || '') + ' visa sponsorship' }}"}},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-400],"id":"e6691450-bdcd-4c1b-8284-4c9b0f9cc1bf","name":"Job search URL"},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"CkLDY9GAQf6QlP6GP","mode":"list","cachedResultName":"Google Jobs Scraper (johnvc/Google-Jobs-Scraper)","cachedResultUrl":"https://console.apify.com/actors/CkLDY9GAQf6QlP6GP/input"},"customBody":"={\n  \"queries\": [\n    \"{{ $json.searchQuery }}\"\n  ],\n  \"maxResults\": 100,\n  \"countryCode\": \"gb\",\n  \"languageCode\": \"en\"\n}","authentication":"apifyOAuth2Api"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[176,-720],"id":"c2481022-4191-400a-8f34-fd3f5d0c356d","name":"Scrape Jobs","credentials":{"apifyOAuth2Api":{"id":"3ShHE6OKIJRqsLST","name":"Apify account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b92cc42d-d4a1-4b93-a926-38bc5ff195cd","leftValue":"={{ $json.output.Verdict }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1152,-80],"id":"5d6cf74d-6fe9-4b23-8b3b-3ec93e7fcc09","name":"Filter"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[768,144],"id":"26a76dd2-370f-4abe-b486-2dba0eb179c5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Verdict\": true,\n  \"reason\": \"reasonforverdict\",\n  \"rule\": {\n    \"if_fit\": true,\n    \"return\": true,\n    \"if_not_fit\": false,\n    \"return_false\": true\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,128],"id":"583ef1ef-5538-4c15-9daa-941fffb5c14f","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=## Task\nEvaluate whether I am a STRONG fit for this job. Be selective and critical — only approve jobs where I would be a competitive candidate.\n\n## Evaluation Criteria\n- At least 60% of the required skills or experience must be clearly present in my CV\n- The seniority level must be appropriate (not significantly more senior or junior than my experience)\n- The industry or domain should be relevant to my background\n- If the job requires specific certifications, qualifications, or years of experience I clearly do not have, mark as NOT FIT\n\n## Rules\n- If you are unsure or the match is borderline, return Verdict: false\n- Only return Verdict: true for jobs where I have a genuine chance of being shortlisted\n- Generic or vague job descriptions that do not clearly align with my skills should be Verdict: false\n- Do NOT approve every job — be genuinely selective\n\n## My Resume\n{{ $json.content ?? $json.text }}\n\n## Job Description\n{{ $json.descriptionText }}\n\n## Sponsorship Requirement\nThis workflow specifically targets jobs that offer UK Skilled Worker visa sponsorship.\nIf the job description does NOT mention sponsorship, and the company is not clearly a large multinational known to sponsor, return Verdict: false regardless of skill match.\nKeywords to look for: visa sponsorship, sponsorship provided, certificate of sponsorship, tier 2, skilled worker visa, we sponsor, COS provided.","hasOutputParser":true,"options":{"systemMessage":"You are a strict and precise job relevance assessor. Your role is to carefully compare a candidate's CV against a job description and determine if there is a STRONG match. You must reject jobs that are only tangentially related to the candidate's skills and experience. Be selective — it is better to reject a borderline job than to waste the candidate's time on a poor fit. Never approve more than 40-50% of jobs unless the candidate is genuinely qualified for all of them."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[784,-112],"id":"d82d5487-4d8f-41d4-b7c6-6aba976db603","name":"Check Relevance"},{"parameters":{"sendTo":"={{ $('Job Application Form').first().json['Your Email'] }}","subject":"=Job Application Summary - {{ $json.totalJobs }} Relevant Jobs Found","emailType":"text","message":"=Hi {{ $('Job Application Form').first().json['Your Name'] }},\n\nYour job application automation has completed. Here is your summary:\n\nTotal relevant jobs found: {{ $json.totalJobs }}\n\n{{ $json.jobList }}\n\nAll customised CVs and cover letters have been saved to your Google Drive and tracked in your Jobs Tracker spreadsheet.\n\nNote: All results are from UK Skilled Worker visa-licensed sponsors or roles that explicitly mention sponsorship.\n\nGood luck with your applications!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2624,-208],"id":"06ad3112-080c-4bed-b61b-5972e1b15b2d","name":"Send a message","webhookId":"fd30b1d9-a3fc-4c7f-8a0e-63fe572c4935","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"=You are a professional Resume Writer and Career Coach.\n\nYour role is to generate a highly customised Cover Letter based on the user’s CV and the job description they provide.\n\nYou must always produce consultancy-grade, professional documents that are ready for direct use without further editing.\n\nDOCUMENT FORMATTING RULES (VERY IMPORTANT)\n\nAll output must be written as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny special formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and structure to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nProfessional\nClear and concise\nEasy to scan\n\nUse:\nSpacing and indentation for structure\nBullet points where appropriate\n\nTONE AND STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for internal documentation and an AI knowledge base\n\nOBJECTIVES – COVER LETTER GENERATION\n\nThe Cover Letter must be:\nSpecifically written for the role and company\nProfessional but confident in tone\nFocused on impact, value, and cultural fit\nNot generic and not reusable\n\nOutput ONLY the custom cover letter. Do not include a CV."},{"content":"=OVERVIEW\n\nI am actively applying for jobs.\nPlease generate a highly customised Cover Letter for the job description below, using my CV as context.\n\nJOB DESCRIPTION\n\n{{ $('Scrape Jobs').item.json.descriptionText }}\n\nCONTEXT – MY CURRENT CV\n\n{{ $('Merge CV').item.json.content ?? $('Merge CV').item.json.text }}\n\nDOCUMENT TRANSFORMATION & FORMATTING RULES (VERY IMPORTANT)\n\nRewrite all output as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and layout to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nClear\nProfessional\nEasy to scan\n\nUse:\nSpacing and indentation to create visual structure\nBullet points where appropriate\n\nTONE & STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for an AI knowledge base and internal documentation\n\nOBJECTIVES – COVER LETTER REQUIREMENTS\n\nSpecifically written for the role and company\n\nProfessional but confident in tone\n\nFocused on impact, value, and cultural fit\n\nNot generic and not reusable"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1328,-496],"id":"3263e154-9c4e-401f-9cd1-383cde7eb063","name":"customise cover letter","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"=You are a professional Resume Writer and Career Coach.\n\nYour role is to rewrite and optimise the user’s CV so it is perfectly tailored to the job description they provide.\n\nYou must always produce consultancy-grade, professional documents that are ready for direct use without further editing.\n\nDOCUMENT FORMATTING RULES (VERY IMPORTANT)\n\nAll output must be written as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny special formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and structure to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nProfessional\nClear and concise\nEasy to scan\n\nUse:\nSpacing and indentation for structure\nBullet points where appropriate\n\nTONE AND STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for internal documentation and an AI knowledge base\n\nOBJECTIVES – CV OPTIMISATION\n\nThe CV must be:\nFully aligned with the job description\nATS-friendly (Applicant Tracking System)\nAchievement-focused, not task-focused\nKeyword-optimised using language from the job description\nWritten in strong, active, impact-driven language\n\nOutput ONLY the optimised CV. Do not include a cover letter."},{"content":"=OVERVIEW\n\nI am actively applying for jobs.\nPlease rewrite and optimise my CV so it is perfectly tailored to the job description below.\n\nJOB DESCRIPTION\n\n{{ $('Scrape Jobs').item.json.descriptionText }}\n\nCONTEXT – MY CURRENT CV\n\n{{ $('Merge CV').item.json.content ?? $('Merge CV').item.json.text }}\n\nDOCUMENT TRANSFORMATION & FORMATTING RULES (VERY IMPORTANT)\n\nRewrite all output as clean, well-formatted plain text suitable for direct paste into Google Docs.\n\nYou must NOT use:\nHTML\nMarkdown\nCode blocks\nBackticks\nAny formatting symbols\n\nFORMATTING REQUIREMENTS\n\nAll main section headings must be bold and visually larger than body text.\nUse clear spacing, capitalisation, and layout to indicate hierarchy.\n\nAll subheadings must also be bold, but slightly smaller than main headings.\n\nBody text must be:\nClear\nProfessional\nEasy to scan\n\nUse:\nSpacing and indentation to create visual structure\nBullet points where appropriate\n\nTONE & STYLE\n\nAll content must be:\nProfessional\nClear and concise\nCustomer-friendly\nSuitable for an AI knowledge base and internal documentation\n\nOBJECTIVES – CV REQUIREMENTS\n\nFully aligned with the job description\n\nATS-friendly (Applicant Tracking System)\n\nAchievement-focused, not task-focused\n\nKeyword-optimised using language from the job description\n\nWritten in strong, active, impact-driven language"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1424,256],"id":"f6111357-a90b-438d-9f19-0769b7253d50","name":"customise resume","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"folderId":"1K5qsQb-1dftaDVH7au1auMnJ6xhgoOk5","title":"=Cover letter  {{ $('Scrape Jobs').item.json.companyName }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1696,-624],"id":"9fbfd27b-22ea-4e4d-a842-2b3f97bbfe79","name":"Create a cover letter","credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"folderId":"1K5qsQb-1dftaDVH7au1auMnJ6xhgoOk5","title":"=CV Efi {{ $('Scrape Jobs').item.json.companyName }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1744,464],"id":"b5a3d863-6f17-4f21-8d87-322a916aea6b","name":"Create a CV","credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1rlZwH5KoZwpuLyUiD7GGHvVQTKnZ4xUGo39rmcCAPps","mode":"list","cachedResultName":"Jobs Tracker DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rlZwH5KoZwpuLyUiD7GGHvVQTKnZ4xUGo39rmcCAPps/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"CV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rlZwH5KoZwpuLyUiD7GGHvVQTKnZ4xUGo39rmcCAPps/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Job Post Link":"={{ $('Normalize Jobs').item.json.link }}","Job Title ":"={{ $('Normalize Jobs').item.json.title }}","Posted At":"={{ $('Normalize Jobs').item.json.postedAt }}","Company Name":"={{ $('Normalize Jobs').item.json.companyName }}","Company Website":"={{ $('Normalize Jobs').item.json.companyWebsite }}","Salary":"={{ $('Normalize Jobs').item.json.salary }}","Description":"={{ $('Normalize Jobs').item.json.companyDescription }}","No Applicants":"={{ $('Normalize Jobs').item.json.applicantsCount }}","Resume URL":"=https://docs.google.com/document/d/{{ $('Create a CV').item.json.id }}/edit","Cover Letter URL":"=https://docs.google.com/document/d/{{ $('Create a cover letter').item.json.id }}/edit"},"matchingColumns":["Job Post Link"],"schema":[{"id":"Job Post Link","displayName":"Job Post Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Job Title ","displayName":"Job Title ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posted At","displayName":"Posted At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Salary","displayName":"Salary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"No Applicants","displayName":"No Applicants","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resume URL","displayName":"Resume URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cover Letter URL","displayName":"Cover Letter URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,-208],"id":"6935755d-0b67-41ba-8939-1f1e4db71309","name":"Append or update row in sheet","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"0IwaKePAXehrqQBv","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"38ae76fe-b920-4409-91ff-cca706823e38","name":"Merge Documents","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2080,-16]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"cv-check","leftValue":"={{ 'Upload_CV' in $binary }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"9456c068-fc95-4333-a5eb-a7ae5ea2126e","name":"Check CV Source","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,64]},{"parameters":{"operation":"get","documentURL":"={{ $('Job Application Form').item.json['CV Google Docs Link'] }}"},"id":"f2744f48-54b3-4c36-abfa-72686b588cf8","name":"Read CV from Link","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[0,352],"credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{},"id":"89677c20-80e1-4ca1-8e0f-4c1f6ae13a04","name":"Merge CV","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,624]},{"parameters":{"formTitle":"Job Application Automation","formDescription":"Submit your job search criteria and let the workflow match you to the best jobs","formFields":{"values":[{"fieldLabel":"Job Title or Keywords","placeholder":"e.g. Software Engineer","requiredField":true},{"fieldLabel":"Location","placeholder":"e.g. London, UK"},{"fieldLabel":"Your Name","requiredField":true},{"fieldLabel":"Your Email","fieldType":"email","requiredField":true},{"fieldLabel":"Your Phone"},{"fieldLabel":"CV Google Docs Link","placeholder":"e.g. https://docs.google.com/document/d/..."},{"fieldLabel":"Upload CV","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf,.doc,.docx"}]},"options":{}},"id":"ebfe1b80-654c-41ad-a268-c5b030c2b868","name":"Job Application Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-560,-224],"webhookId":"00c3a47a-5c0d-47a2-b2e8-e770df7fac2a"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"99c7fd9c-e24c-48b7-953a-679712131219","name":"Merge Jobs and CV","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,-32],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"leftValue":"={{ $binary.Upload_CV.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"condition-1770696784571-u0m54u0so"}]},"options":{}},"id":"d1cc0547-431d-4c74-8d8c-11cc4e3136d3","name":"Check File Type","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-64]},{"parameters":{"operation":"pdf","binaryPropertyName":"Upload_CV","options":{"joinPages":true}},"id":"4b579a0c-57cf-4613-9e02-3169d2216446","name":"Extract PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[144,-128]},{"parameters":{"operation":"text","binaryPropertyName":"Upload_CV","destinationKey":"text","options":{}},"id":"0f13a69f-09eb-4ea6-a982-be541bca7cae","name":"Extract Word","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[112,192]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst jobList = items.map((item, i) => {\n  const j = item.json;\n  return `${i + 1}. ${j['Job Title '] || 'Unknown Role'} at ${j['Company Name'] || 'Unknown Company'}\n   Salary: ${j['Salary'] || 'Not specified'}\n   Job Link: ${j['Job Post Link'] || 'N/A'}\n   Resume: ${j['Resume URL'] || 'N/A'}\n   Cover Letter: ${j['Cover Letter URL'] || 'N/A'}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    totalJobs: items.length,\n    jobList: jobList\n  }\n}];"},"id":"77568bb9-ce76-4fd6-86c3-aa0afd4ccbd1","name":"Summarise Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-208]},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('customise cover letter').item.json.output[0].content[0].text }}"}]}},"id":"09925ecd-7256-4cab-b6df-03e1abcbf75f","name":"Write Cover Letter","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1936,-320],"credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('customise resume').item.json.output[0].content[0].text }}"}]}},"id":"7d849c46-f3f4-45ee-a856-1ad26e1e0ad9","name":"Write CV","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1952,224],"credentials":{"googleDocsOAuth2Api":{"id":"7vkJ9sc93rsuA4so","name":"Google Docs account"}}},{"parameters":{"sendTo":"={{ $json['Your Email'] }}","subject":"=Your Job Search is Being Processed - {{ $json['Job Title or Keywords'] }}","emailType":"text","message":"=Hi {{ $json['Your Name'] }},\n\nThank you for submitting your job application request. We're now processing your search.\n\nHere's what's happening:\n- Scraping LinkedIn for matching jobs based on your search URL\n- Analysing each job against your CV using AI\n- Creating customised CVs and cover letters for relevant matches\n- Saving everything to Google Drive and your tracker spreadsheet\n\nThis typically takes 10-40 minutes. You'll receive another email with your results once complete.\n\nSit tight!","options":{}},"id":"9e05212e-a895-47b8-a8ee-1eab332a70df","name":"Send Confirmation","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-320,-480],"webhookId":"326377b4-a9c0-416b-aa25-ff53d750309f","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst matches = items.filter(item => item.json.output && item.json.output.Verdict === true);\n\nif (matches.length === 0) {\n  return [{\n    json: {\n      noMatches: true,\n      totalJobsChecked: items.length\n    }\n  }];\n}\n\n// Has matches - return empty so downstream doesn't execute\nreturn [];"},"id":"dbc46a7c-9ccd-4e03-a784-977b58a557ac","name":"Check for No Matches","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,336]},{"parameters":{"sendTo":"={{ $('Job Application Form').first().json['Your Email'] }}","subject":"=Job Search Complete - No Matches Found","emailType":"text","message":"=Hi {{ $('Job Application Form').first().json['Your Name'] }},\n\nWe've finished processing your job search request for \"{{ $('Job Application Form').first().json['Job Title or Keywords'] }}\".\n\nUnfortunately, none of the {{ $json.totalJobsChecked }} jobs found matched your profile closely enough. This could mean:\n- The search terms were too broad or too narrow\n- The available jobs don't align well with your current experience\n- The roles require specific qualifications not found in your CV\n\nTry adjusting your LinkedIn search URL or keywords and submit again.\n\nGood luck!","options":{}},"id":"b4629666-41b9-4e85-b529-a991650a0b2f","name":"Send No Match Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1520,592],"webhookId":"55729858-4ffb-481f-8583-f8fc9b3e3e93","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"jobs-found-check","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"a4e2b3f3-e758-4234-a453-5d6727d31dfc","name":"Jobs Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,-352]},{"parameters":{"sendTo":"={{ $('Job Application Form').first().json['Your Email'] }}","subject":"=Job Search: No Sponsored Jobs Found","emailType":"text","message":"=Hi {{ $('Job Application Form').first().json['Your Name'] }},\n\nWe searched Google Jobs for \"{{ $('Job Application Form').first().json['Job Title or Keywords'] }}\" roles in \"{{ $('Job Application Form').first().json['Location'] || 'your location' }}\" with visa sponsorship — but no matching listings were found.\n\nTips to get more results:\n- Broaden your job title (e.g. 'Engineer' instead of 'Senior Backend Engineer')\n- Try a major city like 'London' or 'Manchester'\n- Note: only roles at UK Skilled Worker visa sponsors are included\n\nSubmit the form again to try different search criteria.\n\nGood luck!","options":{}},"id":"33d071ce-46f1-4957-9488-7e86912ac5d1","name":"Send No Scrape Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,-496],"webhookId":"cf06734d-0be6-4144-98e1-6de04a81b0e3","credentials":{"gmailOAuth2":{"id":"rE5JiYLuKUelPQRU","name":"Gmail account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const job = item.json;\n  // Map Google Jobs Scraper fields to match downstream node expectations\n  return {\n    json: {\n      ...job,\n      descriptionText: job.description || job.descriptionText || '',\n      link: job.applyLink || job.jobUrl || job.link || '',\n      postedAt: job.date || job.postedAt || '',\n      companyWebsite: job.companyUrl || job.companyWebsite || '',\n      companyDescription: job.companyDescription || job.description || '',\n      applicantsCount: job.applicantsCount || '',\n      title: job.title || '',\n      companyName: job.companyName || '',\n      location: job.location || '',\n      salary: job.salary || job.salaryRange || ''\n    }\n  };\n});"},"id":"452eccd7-53de-452f-a613-e73ae879fa9a","name":"Normalize Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-736]},{"id":"54a50493-df88-4c87-b1f2-70666ce4f383","name":"Filter Sponsor Companies","type":"n8n-nodes-base.code","typeVersion":2,"position":[530,-352],"parameters":{"jsCode":"const jobs = $input.all();\n\n// Step 1: Get latest CSV URL from GOV.UK API\nlet sponsorNames = new Set();\ntry {\n  const govResp = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.gov.uk/api/content/government/publications/register-of-licensed-sponsors-workers'\n  });\n  const attachments = govResp?.details?.attachments || [];\n  const csv = attachments.find(a => a.url?.endsWith('.csv') || a.file_extension === 'csv');\n  if (csv?.url) {\n    // Step 2: Download the CSV\n    const csvText = await $helpers.httpRequest({ method: 'GET', url: csv.url });\n    // Step 3: Parse — column 0 is Organisation Name, skip header row\n    const lines = csvText.split('\\n').slice(1);\n    const stripSuffixes = /\\s*(ltd|limited|plc|llp|inc|llc|group|uk|services|solutions|international|global)\\s*\\.?$/gi;\n    for (const line of lines) {\n      const col = line.split(',')[0]?.replace(/^\"|\"$/g, '').trim().toLowerCase();\n      if (col) {\n        sponsorNames.add(col);\n        sponsorNames.add(col.replace(stripSuffixes, '').trim());\n      }\n    }\n  }\n} catch (e) {\n  // Register unavailable — fall back to keyword-only filtering\n  console.log('Sponsor register unavailable, using keyword filter only:', e.message);\n}\n\nconst sponsorKeywords = [\n  'visa sponsorship', 'sponsorship provided', 'we sponsor', 'tier 2',\n  'skilled worker visa', 'certificate of sponsorship', 'cos provided',\n  'sponsorship available', 'happy to sponsor'\n];\n\nconst stripSuffixesRe = /\\s*(ltd|limited|plc|llp|inc|llc|group|uk|services|solutions|international|global)\\s*\\.?$/gi;\n\nreturn jobs\n  .map(item => {\n    const job = item.json;\n    const co = (job.companyName || '').toLowerCase().trim();\n    const desc = (job.descriptionText || '').toLowerCase();\n    const title = (job.title || '').toLowerCase();\n\n    // Check 1: Company name in sponsor register (exact + normalised)\n    const coNorm = co.replace(stripSuffixesRe, '').trim();\n    const inRegister = sponsorNames.size > 0 && (\n      sponsorNames.has(co) ||\n      sponsorNames.has(coNorm) ||\n      (coNorm.length > 4 && [...sponsorNames].some(s => s.includes(coNorm) || coNorm.includes(s)))\n    );\n\n    // Check 2: Job description or title mentions sponsorship keywords\n    const mentionsSponsorship = sponsorKeywords.some(kw => desc.includes(kw) || title.includes(kw));\n\n    const sponsorMatch = inRegister ? 'register' : mentionsSponsorship ? 'description' : null;\n    if (!sponsorMatch) return null;\n\n    return { json: { ...job, sponsorMatch } };\n  })\n  .filter(Boolean);\n"}}],"connections":{"Job search URL":{"main":[[{"node":"Scrape Jobs","type":"main","index":0}]]},"Filter":{"main":[[{"node":"customise cover letter","type":"main","index":0},{"node":"customise resume","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Check Relevance","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Check Relevance","type":"ai_outputParser","index":0}]]},"Check Relevance":{"main":[[{"node":"Filter","type":"main","index":0},{"node":"Check for No Matches","type":"main","index":0}]]},"customise cover letter":{"main":[[{"node":"Create a cover letter","type":"main","index":0}]]},"customise resume":{"main":[[{"node":"Create a CV","type":"main","index":0}]]},"Merge Documents":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Check CV Source":{"main":[[{"node":"Check File Type","type":"main","index":0}],[{"node":"Read CV from Link","type":"main","index":0}]]},"Read CV from Link":{"main":[[{"node":"Merge CV","type":"main","index":1}]]},"Job Application Form":{"main":[[{"node":"Job search URL","type":"main","index":0},{"node":"Check CV Source","type":"main","index":0},{"node":"Send Confirmation","type":"main","index":0}]]},"Scrape Jobs":{"main":[[{"node":"Normalize Jobs","type":"main","index":0}]]},"Merge CV":{"main":[[{"node":"Merge Jobs and CV","type":"main","index":1}]]},"Merge Jobs and CV":{"main":[[{"node":"Check Relevance","type":"main","index":0}]]},"Check File Type":{"main":[[{"node":"Extract PDF","type":"main","index":0}],[{"node":"Extract Word","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Summarise Results","type":"main","index":0}]]},"Summarise Results":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Extract PDF":{"main":[[{"node":"Merge CV","type":"main","index":0}]]},"Extract Word":{"main":[[{"node":"Merge CV","type":"main","index":0}]]},"Create a cover letter":{"main":[[{"node":"Write Cover Letter","type":"main","index":0}]]},"Write Cover Letter":{"main":[[{"node":"Merge Documents","type":"main","index":0}]]},"Create a CV":{"main":[[{"node":"Write CV","type":"main","index":0}]]},"Write CV":{"main":[[{"node":"Merge Documents","type":"main","index":1}]]},"Check for No Matches":{"main":[[{"node":"Send No Match Email","type":"main","index":0}]]},"Jobs Found?":{"main":[[{"node":"Merge Jobs and CV","type":"main","index":0}],[{"node":"Send No Scrape Email","type":"main","index":0}]]},"Normalize Jobs":{"main":[[{"node":"Filter Sponsor Companies","type":"main","index":0}]]},"Filter Sponsor Companies":{"main":[[{"node":"Jobs Found?","type":"main","index":0}]]}},"authors":"Efi Oyedeji","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-02T13:07:55.216Z","id":256,"workflowId":"u1x8J5VaAJ8fYcaH","versionId":"126df75a-b2ce-42d8-a9da-77b0a425b139","event":"activated","userId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"},{"createdAt":"2026-04-03T00:42:40.833Z","id":309,"workflowId":"u1x8J5VaAJ8fYcaH","versionId":"126df75a-b2ce-42d8-a9da-77b0a425b139","event":"activated","userId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"},{"createdAt":"2026-04-03T00:39:23.468Z","id":305,"workflowId":"u1x8J5VaAJ8fYcaH","versionId":"126df75a-b2ce-42d8-a9da-77b0a425b139","event":"deactivated","userId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}]}}