workflows/recruiter-agent.json
{"updatedAt":"2026-03-20T16:50:24.158Z","createdAt":"2025-12-01T00:22:43.126Z","id":"OrsORNi0EFHFUqaw","name":"Recruiter Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"dataPropertyAttachmentsPrefixName":"care cv","downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-176,64],"id":"f6c1464b-6e68-4905-a4e7-bce7919bab3f","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"l0HeFL1yhhiekQJW","name":"Gmail account 2"}}},{"parameters":{"inputDataFieldName":"care cv0","name":"={{ $json.headers.subject }} Resume","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1jF5GLM6TjiF-dMdjwTXwAEi9-1CwXUE4","mode":"list","cachedResultName":"Resume Folder","cachedResultUrl":"https://drive.google.com/drive/folders/1jF5GLM6TjiF-dMdjwTXwAEi9-1CwXUE4"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,64],"id":"60c962d2-d978-4e68-9aec-e6299f768a59","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"UFXsoUfnowOImxg6","name":"Google Drive account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals"},"id":"62057b24-c0f6-4ac5-aef0-ca319045e545"}],"combinator":"and"},"renameOutput":true,"outputKey":"Word"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42f9f9de-9fc9-4c15-95a6-c5dda3764b07","leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76485429-1606-4570-84ff-aa8d2902b3b9","leftValue":"={{ $json.mimeType }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[256,144],"id":"2358249f-c7c1-4857-a013-83439b9d2ddf","name":"Switch"},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[496,-64],"id":"84a11dec-3865-49e3-b119-1f284a4c6a7e","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"UFXsoUfnowOImxg6","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,-112],"id":"eeac0aad-43fb-421b-8c34-b5234399fc71","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"UFXsoUfnowOImxg6","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[912,-64],"id":"875ae5b8-5854-4525-9d3e-65dd31d4b277","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"796090e4-dd13-4e44-acb4-cd1de2aa2812","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,80],"id":"c5665976-709a-437d-93c1-620a5b27fa5f","name":"Standardize"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"14UWMBO4X8DQ8PZ8Yqv5EtwW9ZyNkMbY-A0s0L6bvkuk","mode":"list","cachedResultName":"Job Description: Healthcare Support Worker (NHS)","cachedResultUrl":"https://docs.google.com/document/d/14UWMBO4X8DQ8PZ8Yqv5EtwW9ZyNkMbY-A0s0L6bvkuk/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1344,80],"id":"10abdb00-c3b0-4520-84e9-2cf77089d03b","name":"Download file1","credentials":{"googleDriveOAuth2Api":{"id":"UFXsoUfnowOImxg6","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1568,80],"id":"3629ba94-c136-47ec-acfc-b2f98d83e005","name":"Extract from File1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1952,368],"id":"e569445a-f321-469d-bcad-2cabab200d1a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"68mbzx1xFk4uFp1N","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_name\": {\n      \"type\": \"string\",\n      \"description\": \"Full name of the candidate being evaluated.\"\n    },\n    \"match_summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"fit_with_jd_score_estimate\": {\n          \"type\": \"number\",\n          \"description\": \"Overall estimated fit score mentioned in the summary (e.g., 8/10).\"\n        },\n        \"core_alignment\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"description\": \"Key areas where the CV aligns with the JD.\"\n        }\n      },\n      \"required\": [\"fit_with_jd_score_estimate\", \"core_alignment\"]\n    },\n    \"strengths\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"List of candidate strengths relevant to the JD.\"\n    },\n    \"weaknesses\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"List of gaps or weak areas compared to the JD.\"\n    },\n    \"risk_factors\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Potential risks or concerns about the candidate.\"\n    },\n    \"reward_factors\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Potential benefits or positive indicators about hiring this candidate.\"\n    },\n    \"overall_fit_rating\": {\n      \"type\": \"number\",\n      \"description\": \"Numeric rating between 1 and 10.\"\n    },\n    \"justification_for_rating\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation that supports the scoring decision.\"\n    },\n    \"other_observations\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Additional notes beyond strengths and weaknesses.\"\n    }\n  },\n  \"required\": [\n    \"candidate_name\",\n    \"match_summary\",\n    \"strengths\",\n    \"weaknesses\",\n    \"risk_factors\",\n    \"reward_factors\",\n    \"overall_fit_rating\",\n    \"justification_for_rating\",\n    \"other_observations\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1664,352],"id":"37444de3-6930-4150-adb2-28f7527ec3fe","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Candidate's Resume:\n\n{{ $('Standardize').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"=Task:\nYou are an expert HR Analyst and Talent Acquisition Specialist. Your job is to objectively evaluate whether a candidate’s CV matches a given job description.\n\nInstructions:\nYou have been Job Description (JD) and a Candidate CV, produce a structured, comprehensive evaluation that includes the following sections:\n\nMatch Summary\n\nState whether the CV matches the JD and to what extent.\n\nIdentify the core alignment between job requirements and the candidate’s background.\n\nCandidate Strengths\n\nDetail the most relevant skills, experience, achievements, and qualifications that match the JD.\n\nCandidate Weaknesses / Gaps\n\nPoint out missing skills, limited experience, unclear information, or any gaps related to the JD.\n\nRisk Factors\n\nHighlight potential concerns (e.g., lack of industry experience, job-hopping, short tenure in key roles, skill misalignment).\n\nReward Factors\n\nIdentify positive indicators that could make the candidate a high-value hire (e.g., transferable skills, rapid growth, certifications, unique achievements).\n\nOverall Fit Rating (1–10)\n\nProvide a numeric rating for how well the CV matches the JD:\n1 = Poor fit, 10 = Exceptional fit.\n\nJustification for Rating\n\nExplain clearly why you chose that specific score, referencing evidence from the CV.\n\nOther Important Observations\n\nNote anything else that may influence the hiring decision (communication quality, formatting, certifications, accomplishments, red flags, etc.).\n\nFormat:\nUse clear headings, bullet points where helpful, and concise professional language.\n\nOutput Goal:\nProvide an honest, well-reasoned, evidence-based evaluation that helps a hiring manager make an informed decision quickly.\n\n\n\nJob Description\n\n{{ $json.text }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1776,176],"id":"7dd7efdc-11a7-45f6-8b15-1b3b71798047","name":"Recruiter Agent"},{"parameters":{"text":"={{ $('Standardize').item.json.text }}","attributes":{"attributes":[{"name":"First Name ","description":"First name of the candidate","required":true},{"name":"Last Name ","description":"Last name of the candidate","required":true},{"name":"Email","description":"email address of the candidate","required":true},{"name":"Phone Number ","description":"Phone number of the candidate","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[2128,176],"id":"d490d2b4-a475-411a-9cec-ea695117ea8e","name":"Information Extractor"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1fb8IuqU9QtZAGqoM-pVyDsCv5T8RzcDRQnxBRNNQX3g","mode":"list","cachedResultName":"CV Screener","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fb8IuqU9QtZAGqoM-pVyDsCv5T8RzcDRQnxBRNNQX3g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fb8IuqU9QtZAGqoM-pVyDsCv5T8RzcDRQnxBRNNQX3g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date ":"={{ $now.format('dd-mm-yyyy h:mm a') }}","CV ":"={{ $('Upload file').item.json.webViewLink }}","First Name":"={{ $json.output['First Name '] }}","Last Name":"={{ $json.output['Last Name '] }}","Email":"={{ $json.output.Email }}","Strengths":"={{ $('Recruiter Agent').item.json.output.strengths.join(\"\\n\\n\") }}","Weaknesses":"={{ $('Recruiter Agent').item.json.output.weaknesses.join(\"\\n\\n\") }}","Risk Factor":"={{ $('Recruiter Agent').item.json.output.risk_factors.join(\"\\n\\n\") }}","Justification for rating":"={{ $('Recruiter Agent').item.json.output.justification_for_rating }}","Overall fit rating":"={{ $('Recruiter Agent').item.json.output.overall_fit_rating }}","Reward Factor":"={{ $('Recruiter Agent').item.json.output.reward_factors }}"},"matchingColumns":[],"schema":[{"id":"Date ","displayName":"Date ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CV ","displayName":"CV ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Strengths","displayName":"Strengths","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weaknesses","displayName":"Weaknesses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Risk Factor","displayName":"Risk Factor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reward Factor","displayName":"Reward Factor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Justification for rating","displayName":"Justification for rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Overall fit rating","displayName":"Overall fit rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2480,176],"id":"0ba2eae3-af96-4728-82de-e798cc8ce539","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0IwaKePAXehrqQBv","name":"Google Sheets account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,96],"id":"ad8246bb-a7d3-44a1-813c-1d10293790a5","name":"Download file2","credentials":{"googleDriveOAuth2Api":{"id":"UFXsoUfnowOImxg6","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[752,128],"id":"3400996a-d0bf-417b-aa67-ddd7151dc47b","name":"Extract from File2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,272],"id":"02f94ba7-8b54-4f11-b061-5ed900cbe3bb","name":"Download file3","credentials":{"googleDriveOAuth2Api":{"id":"UFXsoUfnowOImxg6","name":"Google Drive account"}}},{"parameters":{"operation":"text","destinationKey":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[768,320],"id":"140b2af7-3121-47e2-9737-27724d22bc6e","name":"Extract from File3"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Download file2","type":"main","index":0}],[{"node":"Download file3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Standardize","type":"main","index":0}]]},"Standardize":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Recruiter Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Recruiter Agent","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Recruiter Agent","type":"ai_outputParser","index":0}]]},"Recruiter Agent":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Download file2":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Standardize","type":"main","index":0}]]},"Download file3":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Standardize","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"gxfiw0n0Ov6Xvmg4","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c73380f7-e588-41f4-af01-dc9bc1b4c3a1","activeVersionId":null,"versionCounter":19,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T00:22:43.129Z","createdAt":"2025-12-01T00:22:43.129Z","role":"workflow:owner","workflowId":"OrsORNi0EFHFUqaw","projectId":"eSQVPffkEuyIG97i","project":{"updatedAt":"2025-11-13T16:28:18.599Z","createdAt":"2025-11-13T16:28:14.739Z","id":"eSQVPffkEuyIG97i","name":"Efi Oyedeji <ayomideoyedeji@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fd5c5af2-8036-4c48-a4c2-8953ce083d76"}}],"tags":[],"activeVersion":null}